[2021-06-21 08:27] steveruizok opened #2 "Copy to SVG"
Allow users to copy their drawings to SVG.

- [x] Copy to SVG
- [x] Keyboard shortcuts
- [x] Include styling
- [x] Fix positions
- [x] Fix z ordering
- [x] Copy text

[2021-06-28 09:39] #2 closed, assigned to nobody

[2021-07-04 20:25] steveruizok opened #5 "[feature] Improve sponsorship page."
The sponsorship page needs a second pass, with more examples and descriptions of what the app is.

[2021-07-04 20:31] steveruizok opened #6 "Multiplayer"
On the tldraw.com site, users will be able to visit rooms ("/room/some-room-id") in order to collaborate on a project.

I'm in touch with the team at [liveblocks](https://liveblocks.io/) to provide the backend for this: there's already some initial architecture for the room that uses their API for presence.

To make it work, we'll need to sync both presence (i.e. who is in the room) and storage (t

[2021-07-04 20:31] steveruizok opened #7 "Save current file"
When loading a new file, the user should be prompted to save their current file.

[2021-07-04 20:40] steveruizok opened #8 "NPM package"
We should publish the tldraw editor as its own NPM package, similar to how excalidraw publishes [@excalidraw/excalidraw](https://www.npmjs.com/package/@excalidraw/excalidraw), so that it can be embedded in implementations other than tldraw.com, such as VSCode extensions.

[2021-07-04 20:40] steveruizok opened #9 "[feature] VSCode Extension"
We should should a VSCode extension that allows `.tldr` files to be read and edited from within VSCode.

[2021-07-04 20:47] steveruizok opened #11 "[documentation] Write contributor guide"
Write a guide for contributors.

- [ ] Setup, running tests locally
- [ ] Project architecture
- [ ] How to test a feature
- [ ] How to submit PRs

[2021-07-08 08:57] steveruizok opened #28 "[feature] Help panel"
Build out a help panel with an introduction to the product, keyboard shortcuts, and useful links.

![image](https://user-images.githubusercontent.com/23072548/124892996-42b1b200-dfd2-11eb-9ef2-154eb738350b.png)

I'd like to follow the pattern I used in [globs.design](https://globs.design): short videos and descriptions of core functions.

![Kapture 2021-07-08 at 09 43 52](https://user-images.githu

[2021-07-10 14:09] steveruizok opened #36 "Refactor design system"
Incorporate design system work by @ilikescience.

[2021-07-10 22:22] steveruizok opened #40 "Scroll back to content"
When the number of shapes to render on a page is zero, display a button to return to the page's shapes.

[2021-07-11 06:48] steveruizok opened #42 "Flash of dark mode when loading"
The initial theme is always dark. We should load it from local storage as soon as possible to avoid the flash when using a light theme.

[2021-07-11 09:43] steveruizok opened #43 "Paste does not work"
Likely a regression introduced by the project panel changes.

[2021-07-11 13:08] steveruizok opened #45 "Toast notifications"
Create a toast that displays when background events complete, such as copying to SVG.

[2021-07-11 13:11] #43 closed, assigned to nobody

[2021-07-11 13:12] #40 closed

[2021-07-11 13:12] #36 closed

[2021-07-14 08:17] #42 closed, assigned to nobody

[2021-07-28 16:10] seflless opened #61 "[Bug] Pasting in Figma Doesn't Match Source Graphics"
Out of curiosity I tested the "Copy to SVG" feature. In case it's supposed to work, my quick test of pasting to Figma didn't work perfectly.

Before (tldraw.com)
![Screen Shot 2021-07-28 at 12 08 02 PM](https://user-images.githubusercontent.com/1845/127357874-2f4e65ef-2d8b-4019-8d8c-3abc4ce6d150.png)

After (figma.com)
![Screen Shot 2021-07-28 at 12 07 59 PM](https://user-images.githubusercontent.

[2021-08-02 16:40] seflless opened #62 "[feature] Add custom mouse cursor icons for tools"
It would help to reduce confusion if your mouse changed to the current tool's icon. It currently is always the default pointer icon. Otherwise you have to look to the bottom of the screen to figure it out.

Personally I like that you keep the drawing tool selected after you draw, unlike some tools that switch back to the selection tool, but it being different makes me sometimes forget the behavior

[2021-08-30 14:24] seflless opened #70 "[feature] Image Exporting Properties"
It'd be cool if like say Sketch or Figma you could specify regions (or the whole file) you want exported as named images and pressing Cmd/Ctrl + E would export everything one go. In browser it would trigger downloading a folder with all the images, and on desktop or the VS Code extension you could save the files straight to disk.

A nice use case would be having one larger file with many diagrams

[2021-09-03 18:33] #8 closed, assigned to nobody

[2021-09-22 11:44] steveruizok opened #104 "[Bug] Export text as SVG"

[2021-09-24 13:06] steveruizok opened #125 "[feature] Arrow labels"
Double click an arrow's middle node to add a label.
Click and drag to move the label along the arrow.

[2021-09-24 13:27] steveruizok opened #127 "[feature] Download as SVG"
Download the current page as an SVG image.

[2021-10-10 07:33] steveruizok opened #139 "[Bug] Locked shapes have only partial support"
Locked shapes aren't being fully protected.

[2021-10-15 18:38] #6 closed, assigned to nobody

[2021-10-17 09:15] steveruizok opened #166 "[feature] Images"
A user should be able to drag and drop or paste an image into their project.

As an MVP, consider taking URLs that were pasted into the app; if the URL is an image, add the image as a shape.

As a next step, consider converting images to dataURIs and storing them in the document that way. (This is kind of and would require a migration to fix).

Later, create a storage bucket where the image can be

[2021-10-20 08:01] steveruizok opened #173 "[Bug] grouped shape child index"
The child index for a newly created shape seems to be too low.

[2021-10-21 08:41] steveruizok opened #188 "[improvement] Background color on "filled" text shapes"
When a text shape is "filled", add a background color.

[2021-10-25 09:35] steveruizok opened #202 "[Bug] Paste on Multiplayer does not sync"
Paste should be whitelisted as an event that triggers sync

[2021-10-29 05:21] emiltamas opened #212 "[bug] App hangs on iPad"
Here are two videos with the issue.

https://vimeo.com/640237059
https://vimeo.com/640237017

*Some* steps to repro:

– Add a shape (note, rect, text)
– Type a few things
– Select/deselect
– Perhaps put palm on the screen

Results:
– Apps enters unresponsive state. I can zoom/pan around but nothing else works.

[2021-11-05 15:56] johno opened #219 "[feature] Static SVG export"
Firstly, want to say that TLDraw is awesome and we love [how easily we can just leverage it](https://twitter.com/4lpine/status/1456315158284972032) in our Markdown Publisher with Components AI. Really powerful stuff.

We do have a particular need, though, since we support static exports from our editor in HTML and MD(X). From the server we need to be able to turn the tldraw representation of page(

[2021-11-05 20:39] #7 closed, assigned to nobody

[2021-11-05 21:54] steveruizok opened #221 "[feature] Duplicate to shared file"
Allow a user to take their current local file and convert it into a shared / multiplayer file.

[2021-11-07 22:34] steveruizok opened #228 "[project] Desktop App"
This issue tracks the progress on a desktop app for TLDraw.

## Motivation

The repo contains a folder named `electron` when you can find an electron app for TLDraw. Electron is a technology that allows web-apps to be distributed as native applications. If you haven't heard of electron apps, you almost certainly have used them: Slack, Figma, Discord, and may others use electron to distribute appli

[2021-11-10 14:44] seflless opened #239 "[bug] Pasting text does not work in VS Code extension."
@proful can you review this and correct where wrong? I'm assuming the repro steps. Can you maybe add a video showing the issue for clarity?

**Repro steps**
 1. Create a sticky note
 2. Go find some text in another program to and copy it
 3. Go back to the VS Code extension editor window
 4. Double click to edit a sticky note and then paste
 5. Something bad happens?

[2021-11-10 16:43] seflless opened #241 "[documentation] Change VS Code extension landing page issues link"
In case people want to request feature or suggest document changes. Are you cool with lining to the chooser form instead?

Current:
https://github.com/tldraw/tldraw/issues/new

Suggested:
https://github.com/tldraw/tldraw/issues/new/choose

[2021-11-10 18:23] Tyriar opened #243 "[bug] Menu modifier keys are ugly on Windows"
Guessing on mac you use the nice cmd icon but on Windows it's quite ugly,

![image](https://user-images.githubusercontent.com/2193314/141170956-4881eed7-9e0f-4e40-ba30-8f5503e73fa0.png)

Looks a little better without the padding:

![image](https://user-images.githubusercontent.com/2193314/141171176-93b831ef-93b6-4282-8f20-4ecc1a2c4700.png)

[2021-11-10 18:27] Tyriar opened #245 "[bug] Don't call out the changelog in the vscode ext readme"
There is a Changelog tab for that which is there in a consistent spot for all extensions:

![image](https://user-images.githubusercontent.com/2193314/141171807-c6c04df2-9ad7-4f4d-b985-278b45ad9c7b.png)

[2021-11-10 18:29] Tyriar opened #246 "[documentation] Add an image to the vscode readme"
An image showing the canvas would help people understand what the extension is.

[2021-11-10 18:52] Tyriar opened #253 "[documentation] Explain what the extension does in the package.json description"
The description doesn't add anything:

![image](https://user-images.githubusercontent.com/2193314/141175078-94b41751-4627-4d1f-892d-e1b998fb7b9b.png)

Should be something more along the lines of "Draw diagrams in VS Code"

[2021-11-10 18:53] Tyriar opened #254 "[documentation] Consider removing the Installation section from VS Code Readme"
This doesn't add anything imo as the user is either in VS Code or the marketplace with an install button above:

[2021-11-10 19:00] Tyriar opened #256 "[bug] Saving a file in VS Code tries to save as an .md?"
Repro:

1. Open a file
2. Draw with pencil
3. ctrl+s

![image](https://user-images.githubusercontent.com/2193314/141176353-a85d26c4-6547-4e1c-8a52-318e4b35ad41.png)

Something is likely wrong in the extension as this doesn't happen in Luna Paint.

[2021-11-10 20:03] proful opened #259 "[feature] should recognise .tldr extension by default"
![image](https://user-images.githubusercontent.com/354596/141184912-220311de-788e-48b7-b9ae-5ef25f8625fb.png)

Reproduce Steps:-

- Create a new tldr document
- The above warning displayed

Expected Behaviour:-

- No warning or prompt should be displayed

[2021-11-16 16:35] steveruizok opened #276 "[feature] Labels for Geometric Shapes"
A use should be able to attach labels to rectangles, circles, and any future "geometric" shapes.

- Double click a shape to begin editing its label
- Labels are center aligned text.
- They are always positioned in the center of the shape.
- Their size matches the size of the shape.

Arrows will want labels too, but that will be a different issue.

[2021-11-16 21:18] proful opened #278 "[bug] Not able to use Tldraw component"
## Error
[code]

## Steps to reproduce
[code]

Using tldraw in App.js
[code]

Example link https://github.com/proful/try-tldraw

[2021-11-16 23:31] steveruizok commented on #278
Looks like it's pulling in the ESM module, then falling over?

[2021-11-16 23:33] steveruizok commented on #278
Works on a CodeSandbox: https://codesandbox.io/s/infallible-haze-vv72b?file=/src/App.js

[2021-11-17 12:23] steveruizok commented on #278
Fixed!

[2021-11-17 12:23] #278 closed

[2021-11-17 17:10] justinbelcher opened #281 "[bug] Can't install shortcut on Android/Pixel"
I tried adding TL;Draw to my homepage with the "add to homepage" shortcut in chrome mobile on Android/pixel, and when I visit the PWA I get a 404. I think the shortcut is pointing at https://www.tldraw.com/shhh for some reason.

[2021-11-17 20:34] #281 closed

[2021-11-17 21:25] MaxBittker opened #283 "[documentation] Best workflow for editing tldraw/core and tldraw/tldraw at the same time?"
I am not very familiar with Lerna!

the development environments for the two repositories work nicely individually.

is there a recommended way to develop `tldraw/tldraw` against a local copy of `tldraw/core`? Or should I edit the package.json?

[2021-11-17 21:29] MaxBittker commented on #283
also running into some issues where the dev server seems to give me stale results, have you seen this?

[2021-11-18 07:24] artyomovs opened #284 "[feature] Delete object when "del" keyboard button is pressed"
Hi there.
Absolutely astonishing VScode extension, thank you!
It would be more useful If I could delete painted object just by pressing "del" button.

[2021-11-18 07:48] proful commented on #284
I can able to delete any shape after selecting it.

[2021-11-18 08:24] abubakarkhawaja commented on #202
Also, can't see another person drawing after page load.

[2021-11-18 08:48] Proful opened #285 "[bug] Clicking shape button hiding toolbar"
tldraw: 1.0.3
Using tldraw as a component in Create React App.

Clicking shape button hiding toolbar.

![09-tldraw-shape](https://user-images.githubusercontent.com/354596/142382067-27d41a69-741a-4555-84c5-3e9b11b92044.gif)

[2021-11-18 09:06] steveruizok opened #286 "[feature] Shift+drag for to snap arrow angle"
While dragging an arrow's start or end handle and holding the shift key, the angle between the dragging handle and its opposite handle should be an increment of 15 degrees.

This feature is already implemented in the tldraw/core [example](https://tldraw-core-example.vercel.app/) but is not yet implemented in tldraw.com.

![Kapture 2021-11-18 at 09 04 57](https://user-images.githubusercontent.com/2

[2021-11-18 09:33] faqie commented on #284
Have you tried the "Backspace" key?

[2021-11-18 09:35] proful commented on #284
I'm using Macc. it has only Delete key.

[2021-11-18 10:20] steveruizok opened #288 "[bug] Geometric shape menu does not close when user clicks on a shape."
When a user opens a menu and then clicks on something other than the canvas, the menu does not close. This is similar to the bug found (and fixed) with the context menu.

![Kapture 2021-11-18 at 10 19 10](https://user-images.githubusercontent.com/23072548/142396994-5d029893-117b-43d2-8d05-96e76a55887d.gif)

[2021-11-18 10:59] proful commented on #285
![10-hide-toolbar](https://user-images.githubusercontent.com/354596/142402960-a04a1dc4-5033-42da-a04b-acec07d1a014.gif)

[2021-11-18 15:10] benoitgrelard commented on #243
Hey @steveruizok, this is a common issue people tend to have when implementing dark mode too for example.
I'm guessing what you're talking about is similar.

If that's the case, by far the simplest way would be to set your theme `className` on the body rather than having to re-apply it strategically like you describe. You can do this easily in an effect instead of declaratively in your container.

[2021-11-18 15:15] steveruizok commented on #243
Unfortunately that won't work in my case because the component I'm working on is distributed as a library. If there are two components on the same page, then they should theoretically be able to have different theme. IIRC I couldn't do that if I were setting the theme on the body.

(This is a weird and extra edgy case, I'm sure.)

[2021-11-18 23:46] omar2205 opened #294 "[bug] Can't rename pages"
Can't rename a page, I had to save the project and manually edit the save file.

![trying to rename a page](https://i.imgur.com/5GOGAjA.gif)

[2021-11-19 00:07] omar2205 commented on #294
Windows 11 - Chrome 95

[2021-11-19 06:57] shettypuneeth opened #296 "[bug] Dark mode not applied to menu pop-out"
Not sure if this was intentional, in dark mode, the menu pop-out still retains light mode colours.

<img width="540" alt="Screenshot 2021-11-19 at 12 20 43 PM" src="https://user-images.githubusercontent.com/3356679/142578400-01181854-cbdb-4e5a-b77a-e9165435ed54.png">

Can raise a PR if this wasn't intentional.

[2021-11-19 07:32] Juri-Salminen commented on #294
Same problem for me on Windows 11 and Microsoft Edge 95.0.1020.53.

Can't delete pages either.

[2021-11-19 09:00] emmanuelmahove opened #297 "[bug] Sign out button always shows"
The sign out button in the dropdown menu always shows even when a user is not signed in.

![Screenshot 2021-11-19 105724](https://user-images.githubusercontent.com/59018510/142594683-7b78bb12-3c9f-48f9-889b-5a52c9791f28.png)

I suspect that this is an error in the way the code that handles whether this button is displayed works:

https://github.com/tldraw/tldraw/blob/699b1167bdce9f78f81589eae15508

[2021-11-19 09:19] hyzyla commented on #284
Intuitively, I also was trying to delete a drawing using DEL button

[2021-11-19 13:30] beatrizoliveiira opened #303 "[feature] Add decision symbol to geometric shape options"
Recently I used the app to write a flowchart to help me at work and I missed the triangle that has the functionality to show decisions, as a solution I just rotated the square to make it look like it. It would be interesting to add this new geometric shape to the app

![image](https://user-images.githubusercontent.com/65451957/142630289-e086b9db-2423-4ef1-9e77-9721d3428aca.png)

[2021-11-19 13:36] beatrizoliveiira opened #304 "[feature] Add new text fonts"
- It would be interesting to add font options for text where the user could choose
- for example:

![image](https://user-images.githubusercontent.com/65451957/142631524-65f23ad8-e5f5-459a-bcaa-e7d7c4f86161.png)

[2021-11-19 16:16] steveruizok commented on #304
On it! See https://github.com/tldraw/tldraw/pull/308

[2021-11-19 17:26] steveruizok opened #309 "[feature] Add Discord link to Menu"

[2021-11-19 17:26] steveruizok commented on #297
Fixed!

[2021-11-19 17:26] #297 closed

[2021-11-19 17:27] steveruizok commented on #294
Fixed!

[2021-11-19 17:27] #294 closed

[2021-11-19 18:24] bzuker opened #311 "[feature] Paste SVG"
Would it be possible/plausible to be able to paste an SVG to the canvas? I'm not sure it'd make sense, but it could be great.

This whole thing looks awesome, congratulations!

[2021-11-19 18:50] dinaco commented on #309
Howdy Steve, I am trying to give my first contribution on github and I chose this project as its pretty cool (just installed the plugin in my vscode).

The thing is, the `@radix-ui/react-icons` library doesnt has a Discord icon, so I generated a HTML SVG code to be able to include it, another solution would be to find another icon library, but i dont think its something that you'd like.

[2021-11-19 20:54] steveruizok commented on #309
Closed by @dinaco! I would have done the same with that icon, cheers.

[2021-11-19 21:04] steveruizok commented on #311
Let's make this issue about images more generally.

Here's my thinking on this:

These days, we'd normally take images and upload them to an S3 bucket and call it a day. We _could_ do that but it would break offline support, which in my opinion is pretty important to this app. The alternative then would be to serialize the image (e.g. encode it as base64) and save it as part of the document. The `

[2021-11-19 21:22] omar2205 commented on #294
Good job, @steveruizok. What commit, if I may ask?

[2021-11-19 21:22] #309 closed

[2021-11-19 21:23] steveruizok commented on #294
Ah sorry, should have included a link. I think this was due to an API change in the Dialog component. #302

[2021-11-19 22:34] levhita opened #314 "[bug] Area selecting a group, adds the individual items to the selection instead of the whole group"
This creates an unexpected behavior when for example, aligning elements.

https://user-images.githubusercontent.com/225066/142699838-659cb692-803b-4292-a95a-e60b89bd7ebb.mov

[2021-11-19 22:36] levhita commented on #314
Another example

https://user-images.githubusercontent.com/225066/142700068-780b94cc-6ebe-4cc5-ad61-45cd0c8b7e74.mov

[2021-11-19 23:27] anudaweerasinghe commented on #62
Hey, we were considering using the tool icons in the toolbar? What do you think, should we go ahead and start working on it?

[2021-11-20 00:34] martindemello opened #317 "[bug] If a shape gets too thin, there are no longer handles to resize it"
Works again when you zoom in a bit, but it would be nice if the handles were displayed in a box outside the boundaries of the shape instead.

[2021-11-20 01:00] Remyelder99 opened #318 "Chippers app"

[2021-11-20 01:00] Remyelder99 commented on #318
Yes

[2021-11-20 08:22] #318 closed

[2021-11-20 08:24] steveruizok commented on #314
Nice one, that's definitely the wrong behavior.

[2021-11-20 08:28] eklem commented on #294
Nice! When will this surface in the VS code extension?

[2021-11-20 10:25] steveruizok opened #321 "[bug] zoom shortcuts sometimes effects the browser or panel"
I'm seeing reports that command/ctrl plus are triggering "native" browser zoom commands in addition to our own.

[2021-11-20 10:27] omar2205 commented on #311
Could you limit the resolution and size? Also, maybe for offline usage, replace the image with its alt?

[2021-11-20 10:28] steveruizok commented on #285
Is this one still an issue?

[2021-11-20 10:28] steveruizok commented on #284
Fixed!

[2021-11-20 10:28] #284 closed

[2021-11-20 10:29] steveruizok commented on #283
I've brought this back into the monorepo and should have all of the typescript issues fixed now. I can reopen if you're still seeing problems!

[2021-11-20 10:29] #283 closed

[2021-11-20 10:43] steveruizok opened #322 "[feature] Open in browser"
From the VS Code extension, a user would be able to open the current file in the browser.

We would need some way to "deep link" the file handle into the browser so that it opens the file automatically.

This may not be possible with the FileSystem API, but it's worth a look!

[2021-11-20 13:37] steveruizok commented on #304
Shipped!

[2021-11-20 13:37] #304 closed

[2021-11-20 13:37] steveruizok commented on #303
Any other shapes that we might want?

[2021-11-20 14:55] mysticmind commented on #303
Line - draw a straight line.

[2021-11-20 15:13] steveruizok commented on #321
Fixed in VS Code!

[2021-11-20 15:13] #321 closed

[2021-11-20 15:13] steveruizok commented on #303
I agree. The shape itself could still be an arrow, just the tool would create it without the arrowheads?

[2021-11-20 15:14] steveruizok commented on #256
We solved this one, right?

[2021-11-20 15:14] #256 closed

[2021-11-20 17:31] #286 closed

[2021-11-21 00:53] proful commented on #285
Issue still exist
Ref https://github.com/proful/try-tldraw

[2021-11-21 00:59] proful opened #327 "[bug] Switching between tools"
when double clicking a tool (like the rectangle tool here), it shows the tool lock indicator as expected
but when using a keyboard shortcut like Ctrl+A to select, the indicator shifts to the select tool but dragging the cursor over the canvas still draws rectangles
debug mode still shows select though.
by @rjt-rockx

[2021-11-21 01:45] Proful opened #328 "[bug] Not able to see delete icon in Android phone"
![Screenshot_20211121_124248](https://user-images.githubusercontent.com/354596/142746099-8828a156-c7d4-4f1e-b219-ea22c6f31677.jpg)

[2021-11-21 03:19] Soyn opened #330 "[documentation] Contribute content refer error"
the path of development guide is wrong
<img width="901" alt="Screen Shot 2021-11-21 at 11 15 44" src="https://user-images.githubusercontent.com/7734046/142748161-08183205-e9ca-4c51-9c9e-c3c7f24a5ae8.png">
.

[2021-11-21 06:26] proful commented on #288
This seems to be already fixed, not able to replicate. @steveruizok please close it if this issue already fixed.

[2021-11-21 07:41] #288 closed

[2021-11-21 11:35] proful commented on #9
Can it be closed?

[2021-11-21 11:36] proful commented on #11
Can it be closed?

[2021-11-21 11:53] #327 closed

[2021-11-21 12:04] steveruizok opened #333 "[feature] Line tool"
Let's add a "line" tool to the geometric shape menu.

We will need a new tool (LineTool) but we won't need to create a new shape type or shape util.

Instead, the `LineTool` should create `ArrowShape`s without decorations. Functionally it should be identical to the ArrowTool.

[2021-11-21 12:09] #330 closed

[2021-11-21 12:33] Spondon33 opened #334 "Not similar in both device if you draw really slow"
![image](https://user-images.githubusercontent.com/94747094/142761719-625c4e30-c8c1-49f0-bb9f-9a65e0eb7bc0.png)

Test Firefox, Split Screen, Windows 10. Add-ons that were installed in Firefox
![image](https://user-images.githubusercontent.com/94747094/142761837-f073cefe-51a6-4b46-b3c6-69313f7e00e7.png)

ClipBoard data on page first page
`{"type":"tldr/clipboard","shapes":[{"id":"99d8cb99-ceb1-4057

[2021-11-21 12:39] Spondon33 commented on #334
Not working even after reloading. But mouse track work properly and both are functional.
![image](https://user-images.githubusercontent.com/94747094/142762149-05614031-6a53-4278-a81d-e6d99560f903.png)

[2021-11-21 12:40] #314 closed

[2021-11-21 12:48] steveruizok commented on #334
Interesting, I'll look into it!

[2021-11-21 12:52] steveruizok commented on #334
Yep, I'm able to reproduce. Not sure what triggers it.

[2021-11-21 16:46] nikitavoloboev opened #337 "[bug] Extension actions should be spoked to .tldraw files only otherwise you get clashes"
I am talking about these actions:

<img width="1489" alt="image" src="https://user-images.githubusercontent.com/6391776/142771114-5bce0441-d656-4062-9f49-163d06854bcd.png">

But I believe all actions should be scoped to only work on active .tldraw files. Hope that makes sense.

[2021-11-21 17:16] beatrizoliveiira commented on #328
What are the specifications of your android phone?
I am using a Samsung Galaxy A50 with the Chrome browser and the delete button appears for me:

![image](https://user-images.githubusercontent.com/65451957/142772139-e1f78e94-c55c-4e39-95ab-fb7d1e4f1171.png)

[2021-11-21 18:47] zakariaelas commented on #328
I tried playing around with this in the chrome dev tools by toggling the device toolbar and it seems to happen whenever screen_size <= ~380px

![image](https://user-images.githubusercontent.com/33696020/142774569-e44e2354-c463-4f35-8a21-69adbe3b7998.png)

One quick fix would be to set `flex-wrap: wrap` on the `Panel` component right [here](https://github.com/tldraw/tldraw/blob/main/packages/tldraw

[2021-11-21 19:13] steveruizok commented on #328
I actually worked out the grid logic for the toolbar on the guide branch (the action / delete buttons wrap up "above" the primary tools). That branch still has lots of work to do on it, so I'll see if I can extract those styles into a separate PR to fix this.

[2021-11-21 19:56] ReneCode opened #341 "[bug] Rotation of selection-box does not sync on Multiplayer"
box rotated and selected on a multiplayer-client that has rotated a box:
![image](https://user-images.githubusercontent.com/1595098/142776912-316cc210-838a-4183-877a-2f4cd73fc6af.png)

that is visible on an other client. Box is rotated fine, but the selection-box is not rotated.
![image](https://user-images.githubusercontent.com/1595098/142776884-8e3274e1-02f5-4939-b1d5-8ee546fabec4.png)

[2021-11-21 21:28] ReneCode opened #342 "[bug] rotated Text is moving during editing"
editing a text, that is rotated results in a location-moving of the text.

https://user-images.githubusercontent.com/1595098/142779480-6a51e72a-3911-4696-8b10-cffa6fe43e04.mov

[2021-11-22 04:40] 789betting commented on #62
It’s appropriate time to make some plans for the future and it’s time to
be happy. [789bet หวยออนไลน์](https://www.789bet-vip.net/lotto/)

[2021-11-22 11:31] Anuj-Kundar opened #348 "HTTP 404 error appears on screen."
In Contributing.md file under the "Welcome to the tldraw contributing guide" section in 4th line table of contents icon image is not reachable.
![image](https://user-images.githubusercontent.com/89484481/142854543-7ac857b8-bf3f-4b66-810f-4e68416ab26c.png)

![image](https://user-images.githubusercontent.com/89484481/142854650-af7390ba-a59c-46ad-ad6a-e522d73b08b9.png)

[2021-11-22 12:22] steveruizok opened #349 "[feature] Middle mouse wheel pan"
The middle mouse wheel should trigger a pan event, similar to holding the space bar and dragging.

[2021-11-22 12:28] #333 closed

[2021-11-22 13:13] Roundlay opened #350 "[feature] Two-finger tap to undo on touch devices"
Procreate’s undo and redo gestures would be a welcome addition on touch devices. For those that haven’t used Procreate, the feature works just how you’d imagine: a two-finger tap acts as undo, and three fingers as redo. Their implementation happens to be [open source](https://github.com/SavageSource/ProcreateUndoGesture), so that might help get the ball rolling.

[2021-11-22 15:03] Soyn opened #352 "[documentation] Wrong typo of core package"
`Indicator` -> `Component`

https://github.com/tldraw/tldraw/blob/main/packages/core/README.md#component

[2021-11-22 15:21] #352 closed

[2021-11-22 16:22] #243 closed

[2021-11-22 19:23] hrgdavor opened #355 "[feature] styling menu closer to pointer and shape being edited"
This is just an idea showing maybe having style available besides the right-click menu
![image](https://user-images.githubusercontent.com/2480762/142921860-d7c2b216-39fc-49ab-acd9-1f81ee941be5.png)

The point of this request is not to say how exactly this is to be implemented. but to ask for a way to have styling available via gesture click or shortcut and that the styling dialog is near the shape

[2021-11-22 20:40] csholmq opened #356 "[feature] Linkable elements"
For large architectures it's always nice to have an abstract overview where subsystems can be represented without much details. The subsystems can then be detailed on separate pages or in an external resource.

Therefore it would be great if elements could be linked to e.g a different page to essentially create a hierchical model. In draw.io it even provides a drop-down list with all available pag

[2021-11-22 22:39] jenningsb2 opened #357 "[feature] tldraw spellcheck"
I would love it if tldraw had built-in spell check. I am a terrible speller, so it would be much appreciated if this was included.

[2021-11-22 22:41] jenningsb2 opened #358 "[feature] Elbow connector support"
FigJam handles this pretty well where there is a way to pick the type of connector using a button when the line is selected.

Example:
https://user-images.githubusercontent.com/29644050/142945765-56a2b524-6964-4986-b0cd-473e272f21f8.mp4

[2021-11-23 08:06] proful commented on #349
I don't use mouse wheel that much (I'm Mac Trackpad user). Still I am trying with a external mouse, seems ok to me. Scrolling wheel shape going top down & Shift + mouse wheel movement is happening left and right direction. Not sure what behaviour expected.

![12-wheel](https://user-images.githubusercontent.com/354596/142988856-739cbe58-7899-4b4e-8450-401c6210bd1f.gif)

[2021-11-23 08:31] steveruizok opened #359 "[feature] Read-only link"
Create a route on the Next.js app that loads a multiplayer project in a "read only" mode. The editor already supports read only via the `readOnly` prop. We would also remove the parts of the code that update the live maps for this document.

Consider generating a new random URL to prevent users from being able to edit a "read only" document by changing the route.

[2021-11-23 11:58] steveruizok opened #360 "[feature] Plugin Shapes"
Wherever we take tldraw, it will always have a limited set of default shapes. However, there's no reason why the app can't support more than these. Maybe it should support _any_ type of custom shape through a plugin system.

This issue is for discussion of what that plugin system could look like.

Long term, I'd like to see a marketplace of custom plugin shapes, similar to widgets in Figjam. Becau

[2021-11-23 15:09] steveruizok commented on #348
Fixed! Thanks

[2021-11-23 15:09] #348 closed

[2021-11-23 16:44] bzuker commented on #311
I like the idea of generalizing it to _all_ image assets and I think the approach you proposed makes sense. However, I think SVGs could behave differently than plain since, if I'm not mistaken, we could import the SVG nodes directly into the canvas and have some controls to interact with them directly.

I'm not sure if this fits into the general plan/idea you have for the project (or even if it's

[2021-11-23 21:52] ReneCode commented on #360
uh, that sounds awesome. Tools, that have the possibility to extend the features with plugins would grow to usages that are not expectable at the begining.
starting with a simple API for user-defined-shapes would be fine.
- name
- svg-picture for the toolbar
- function to render that shape
- function to move the shape
- function to draw handles if shape is selected
- function to change the shape i

[2021-11-23 22:19] noah79 commented on #360
What you've described here is more of an ecosystem around managing publically developed shapes.

What about at the lower-level?  That is, how can I as an application developer register new custom shapes with the Renderer?  I would love to be able to pass in a prop like shapes: Array<IShape> where IShape includes the shape type, the utility implementations, associated tools, etc.  Then you could di

[2021-11-24 05:29] rjt-rockx opened #363 "[feature] Copy/Share as PNG"
An option to copy/share the selection or the canvas as PNG would be super helpful.
Currently, I get by with taking screenshots and cropping them, but the cropping step can be bypassed altogether with this option.

Additionally, there could be an option in the menu to export the entire canvas as PNG, however, due to the infinite nature of the canvas, there might be certain limitations that'd need t

[2021-11-24 09:10] steveruizok commented on #212
Fixed!

[2021-11-24 09:10] #212 closed

[2021-11-24 09:34] steveruizok commented on #360
@ReneCode, this is actually very similar to how shapes work in the core library! See for example how the [Rect](https://github.com/tldraw/tldraw/tree/main/examples/core-example/src/shapes/rect) shapes is defined in the example.

Each shape has:

- an interface for the shape in the data model (e.g. `BoxShape`)
- a React component for the shape itself
- a React component for the shape's indicator
-

[2021-11-24 09:36] steveruizok commented on #360
Both tools and shapes in tldraw have access to the `TldrawApp` api as `this.app`, which has some very granular ways of changing the document, so I don't think there would be any limit to what a custom shape can do. Maybe that's a good thing, maybe not.

[2021-11-24 09:55] steveruizok commented on #363
Good call @rjt-rockx. I've thought about screenshots in three ways:

- A "save viewport to png"
- A "save canvas to png"

The only difficulty here is how to generate the png itself. There are browser APIs for this but they're rather inconsistent. There are libraries, such as html2canvas, however these are pretty large (around 50% the size of tldraw itself) and so would need to be loaded in asynchr

[2021-11-24 10:01] #349 closed

[2021-11-24 10:05] steveruizok commented on #358
I like the idea of alternative arrow styles. Elbows are _very_ tricky to get right, however, and there are plenty of examples of where this pattern leads to poor UX.

![image](https://user-images.githubusercontent.com/23072548/143217532-b997d307-d4db-42ac-a9e8-76c983dc56f3.png)

If we can get it right though, then I'm all for it!

Alternatively, I was also considering "spline arrows" where a user

[2021-11-24 10:08] steveruizok commented on #355
Hey @hrgdavor, thanks for the issue. This is related to some "custom selection bounds" work that I'll be doing to better support these sorts of contextual menus.

[2021-11-24 10:09] steveruizok opened #365 "[feature] Custom selection component"
A developer using the tldraw/core renderer should be able to specify a component to use for the selection bounds (currently the `Bounds` component). This component should receive the list of current selected ids, along with any other information about the selection, so that it can be used to display a contextual menu.

[2021-11-24 10:11] steveruizok opened #366 "[feature] Custom user selection bounds indicator component"
In multiplayer, we show the selection bounds for each user using a plain rectangle. As in https://github.com/tldraw/tldraw/issues/365, this component should be optionally provided by to the renderer via props.

[2021-11-24 10:12] steveruizok opened #367 "[feature] Custom cursor component"
In multiplayer, we show the cursor for each user using a plain dot. As in https://github.com/tldraw/tldraw/issues/365, this component should be optionally provided by to the renderer via props.

[2021-11-24 10:13] steveruizok commented on #341
This would only be needed when only one shape is selected (selection bounds for multiple shapes are always axis-aligned).

[2021-11-24 10:25] steveruizok opened #368 "[feature] Show tool-specific style options when tool is selected"
Currently we only show the text style options when a text shape is selected. We should also show those style options when the text tool is selected, so that a user can select their style before creating a shape.

[2021-11-24 10:35] steveruizok opened #369 "[feature] Improve multitouch"
There are a few things we can do to improve the multitouch gestures on mobile.

- Add an event for "changedPoints" for when the number of points changes.
- Add states for "two finger pointing" and "three finger pointing".
- Rapidly moving from 0x points to 2x points to 0x points should trigger an undo.
- Rapidly moving from 0x points to 3x points to 0x points should trigger a redo.
- Add a "dead z

[2021-11-24 10:35] steveruizok commented on #296
This is due to a current limitation in our menu library, Radix. We're working on a fix!

[2021-11-24 10:46] steveruizok commented on #334
I think this is fixed now after rewriting the multiplayer code. Closing for now, but happy to re-open if you run into it again.

[2021-11-24 10:46] #334 closed

[2021-11-24 10:49] steveruizok commented on #202
Fixed after #336

[2021-11-24 10:49] #202 closed

[2021-11-24 10:50] steveruizok commented on #173
Fixed!

[2021-11-24 10:50] #173 closed

[2021-11-24 10:50] #139 closed

[2021-11-24 10:50] #104 closed

[2021-11-24 10:50] #9 closed

[2021-11-24 10:50] #5 closed

[2021-11-24 10:50] #11 closed

[2021-11-24 10:51] steveruizok commented on #28
Working in #11

[2021-11-24 10:51] #28 closed

[2021-11-24 10:52] steveruizok commented on #62
Started at #280 . Let's continue the discussion there!

[2021-11-24 10:52] #62 closed

[2021-11-24 10:53] steveruizok commented on #357
This should just be a matter of turning that prop back on in the textarea components in the TextUtil and StickyUtil components.

[2021-11-24 10:57] steveruizok opened #370 "[bug] Arrows are rendered too soon when starting from a shape"
When an arrow session begins while inside of the bounds of a shape, we create an arrow that is bound to that shape at its start. However, we should instead wait until the pointer has left the shape before creating this arrow and rendering it, to avoid this behavior:

![Kapture 2021-11-24 at 10 56 09](https://user-images.githubusercontent.com/23072548/143225830-6fb2a397-e59e-4558-992b-1670e3f7924f.

[2021-11-24 11:12] steveruizok opened #371 "[bug] Resize text shapes according to alignment."
When text shapes resize, their position should be based on their alignment.

In the example below, the left edge of the left text should remain the same after changing size; and the right edge of the right-aligned text should remain the same after changing size. The current behavior (preserve center point) is correct for the center-aligned text.

![Kapture 2021-11-24 at 11 10 05](https://user-imag

[2021-11-24 11:12] steveruizok opened #372 "[feature] Improve text alignment"
A few changes:

- remove justify alignment
- make the default alignment center

[2021-11-24 11:18] Spondon33 commented on #334
Tested is thoroughly, The problem is fixed. Thank you.

[2021-11-24 11:23] steveruizok opened #373 "[feature] Text Editing session"
We should improve the way that changes to an "editing" shape are handled.

We have two editable shapes: text and stickies. In both shapes, a user begins editing the shape by double clicking on it. While editing, the shapes' components display a textarea. Any change to the contents of this text area triggers an `onShapeChange` event. This event triggers an immediate change to the document, produces

[2021-11-24 11:24] steveruizok opened #374 "[bug] Text bounds change when font loads"
We currently load several fonts from Google fonts using `display: swap`. Because the bounds of a `TextShape` are based on measurements in the browser, its initial bounds are often calculated using the default system font. And because bounds are cached, the bounds are not corrected until the shape is changed again; and even then, depending on the alignment, the "correct" bounds may end up in the wr

[2021-11-24 11:57] steveruizok opened #375 "[bug] Fix clone handle visibility"
The logic for when to show clone handles is wrong and they never appear. This may be in core or in tldraw, I'm not sure!

[2021-11-24 12:00] steveruizok opened #376 "[feature] Simulate pointer down / up with a key."
Use a key (such as `/`) to simulate `onPointCanvas` and `onReleaseCanvas` events. This will make it easier for users on trackpads to draw without pushing or holding a separate button. If there's a way to better simulate pointer events, so that the point may hit elements like bounds handles, then we should use that instead.

[2021-11-24 12:42] steveruizok opened #378 "[feature] Arrow binding for Draw shapes"
### Discussed in https://github.com/tldraw/tldraw/discussions/326

<div type='discussions-op-text'>

<sup>Originally posted by **alex-sherwin** November 20, 2021</sup>
I've been following tldraw for quite some time and was really hoping that it would allow for arrows to be anchored to hand drawn shapes

Having them limited to just the built-in rectangle and ovals is useful, but if they could ancho

[2021-11-24 12:42] steveruizok commented on #378
Copying over my reply here:

We could certainly do this. Right now the best option is to group the shape and connect the arrow to the group, as @proful mentioned. But it would be straightforward to make drawn shapes "bindable".

The logic for detecting the binding point may be complex, though.

![image](https://user-images.githubusercontent.com/23072548/143239091-9e988a09-0a87-4e4a-bf4e-2fbd60f33a

[2021-11-24 18:07] #376 closed

[2021-11-24 21:33] evgenyslab opened #380 "[bug] Pencil/Stylus menu click-select not working"
When using Apple Pencil on IOS (Safari) - cannot click select in context menus.

Using fingers has correct behaviour:

https://user-images.githubusercontent.com/944561/143315446-71a92268-e5c6-4721-bf6d-759ed3674fd8.MP4

Using pencil click-select not selecting:

https://user-images.githubusercontent.com/944561/143315470-63f85a9f-16fd-48cb-b15b-4556a3ff8569.MP4

[2021-11-25 00:12] proful commented on #303
Line Tool added as part of https://github.com/tldraw/tldraw/pull/343

Any other shape are we referring? Adding different shapes is a broader discussion going on here https://github.com/tldraw/tldraw/issues/360

[2021-11-25 02:16] proful commented on #328
Resolution of my Android phone (where issue appear) = 2340 x 1080

[2021-11-25 02:29] seflless opened #382 "[bug] Tldraw Component Doesn’t Stay in Parent Container"
I'm trying a test where I embed the  @tldraw/tldraw component into a page in a small window. But it doesn't respect the container I put it in. It's width/height of the page window no matter what.

grey part is the container, that'd I'd expect it to stay within
<img width="1440" alt="22A0A620-ED96-49CC-883D-F7B6B3844F11" src="https://user-images.githubusercontent.com/1845/143367136-1eec1dea-a2e2-48

[2021-11-25 02:33] seflless commented on #382
Steve commented on this on Discord;

[code]

[code]
![29AD8F1D-EDD4-4366-9C76-5C473C8E56DA](https://user-images.githubusercontent.com/1845/143367439-2980d6e1-05a5-4f6e-8cf9-09f85b3a4c20.png)

[code]

[2021-11-25 03:20] proful commented on #375
PR https://github.com/tldraw/tldraw/pull/381 addresses issue for below shapes

- Rect
- Draw
- Text

[2021-11-25 04:09] proful commented on #372
Can you please elaborate? Maybe one screen shot which section you are referring.

[2021-11-25 19:58] Glazy opened #384 "[bug] Text 'completing' before typing has finished"
When using multiplayer, text often 'completes' and loses focus before I have finished typing. This means I have to double click on the text box again to make it editable and continue typing.

This happens fairly frequently for me in multiplayer rooms but I haven't yet been able to reproduce it in a solo drawing room.

[2021-11-25 22:49] csholmq opened #385 "[bug] Cut/Copy functionality"
I wouldn't call this a bug really but it got me confused.

In the main menu
![image](https://user-images.githubusercontent.com/1297882/143505096-18f343db-0417-43dc-8cd9-665a3a776b7f.png)
you have both `Cut` and `Copy`. They're also both clickable regardless if an object is selected or not. Not sure what the expected behaviour is there.

Whereas in the right click menu
![image](https://user-images.

[2021-11-25 22:51] csholmq opened #386 "[bug] Main menu clicking"
When clicking e.g `Copy` in the main menu I would expect it to go away as to confirm my action. But the menu persists causing me to question if I was successful in clicking.

Maybe introduce an animation for the clicking or simply have the menu go away when clicked on a child node?

[2021-11-26 02:43] seflless commented on #363
@rjt-rockx there I'm doing experiments in this vein but focus on SVGs, just so you are aware:
https://github.com/tldraw/tldraw/pull/307

[2021-11-26 05:34] BRO3886 commented on #357
Can I take it up?

[2021-11-26 05:43] proful commented on #311
Related https://github.com/tldraw/tldraw/issues/166

[2021-11-26 05:49] proful commented on #357
Sure go ahead @BRO3886

[2021-11-26 10:29] steveruizok opened #387 "[documentation] Website + Docs"
This issue is to discuss creating a website for tldraw (e.g. hello.tldraw.com). We may eventually have a reason to move the app to `app.tldraw.com` and make the landing page at `tldraw.com`, but for now I'd rather the "root" directory be pointing to the app instead.

I have a PR (#289) where I've worked up the infrastructure for MDX content, using a pattern adapted from my personal blog, and that

[2021-11-26 10:59] steveruizok commented on #386
Good point, there's really no feedback at the moment. Perhaps #45 could help?

Our menu is currently a hack of Radix-UI's dropdown menu. IIRC the default behavior is for those buttons to close the menu, and we're preventing that behavior in some places (for example, toggling dark mode) where a user may be "trying out" different modes.

[2021-11-26 16:15] csholmq commented on #386
If you want to keep inhibiting the default menu behaviour for other reasons then I think #45 would be a good improvement 👌

[2021-11-26 16:42] steveruizok opened #388 "[bug] Group shape behavior"
Something's up with group behavior.

![Kapture 2021-11-26 at 15 09 59](https://user-images.githubusercontent.com/23072548/143610907-b10e08d3-72d6-4af6-9f56-e20f7c2c9dca.gif)

- create a rectangle
- create text
- group shapes
- double click text to select it
- double click text to edit it
- click outside to blur text
- move text or rectangle around

[2021-11-26 17:03] seflless opened #389 "[documentation] Evaluate Docusaurus"
[Docusaurus](https://docusaurus.io/) looks like a great documentation framework for React projects.

I’ll build a prototype using Docusaurus and then give a demo and get feedback.

As of now I believe the plan for documentation was a bespoke MDX approach.

[2021-11-26 17:12] #368 closed

[2021-11-26 19:15] steveruizok opened #390 "[bug] Overlap between rotate and clone handles"
![Uploading Kapture 2021-11-26 at 19.15.26.gif…]()

[2021-11-26 19:17] steveruizok commented on #384
This is related to #373 ! We should be "syncing" after you're finished typing, rather than on every character. It's a bug!

[2021-11-26 19:37] BRO3886 commented on #385
I think copy as json is available on the context menu (right click) when in debug mode, is it really required in prod, on the right click menu?

[2021-11-27 06:25] csholmq commented on #385
@BRO3886 this is from the public web client. Not sure which mode that is in.

But since Copy seems to paste as JSON outside of tldraw I agree with you that it makes sense to remove that alternative from the main menu rather than adding it to the right click menu.

[2021-11-27 09:48] #357 closed

[2021-11-27 11:35] BRO3886 commented on #385
Right, I'll leave that upto @steveruizok, opened a PR for other stuff:
* added cut option on right click menu
* disabled copy and cut options when no item is selected

[2021-11-27 11:42] seflless commented on #337
I believe this is addressed by this fix:
https://github.com/tldraw/tldraw/commit/99e51177c208a7131fe130cdaee4e2157494b349

[2021-11-27 11:44] seflless commented on #259
@proful The editor opens for you though right, on creating that .tldr, it's just that it also shows that confusing dialog? I definitely see that all the time.

[2021-11-27 11:46] seflless commented on #259
In your Reproduce Steps, had you just installed the editor for the first time?

[2021-11-27 11:52] proful commented on #259
Not able to reproduce. Closing this ticket for now.

[2021-11-27 11:52] #259 closed

[2021-11-27 12:02] seflless opened #394 "[documentation] Switch to "Tldraw" from "tldraw-org" on the VS Code Extension Marketplace"
It'd be more consistent to use "tldraw" instead of "tldraw-org" on the marketplace.
<img width="624" alt="this-org" src="https://user-images.githubusercontent.com/1845/143680493-6b67a175-59f5-4390-b180-705a996959b5.png">

[2021-11-27 12:29] seflless commented on #239
@steveruizok I'm going to start on this one.

[2021-11-27 12:31] seflless commented on #259
I think I see this occasionally, but sounds good. Let's add back if it comes back.

[2021-11-27 12:42] seflless commented on #241
Looks duplicate to this, closing:

[2021-11-27 14:00] seflless opened #396 "[feature] Add Support for <iframe> components"
It would be hugely valuable to be able to drop iframes of any webpage into a canvas.

[2021-11-27 14:30] Soyn opened #397 "[bug] Throw error from console, when erase the shape from page"
**Behavior:**
When removed a shape from page, the error was thrown from console, like below:
![image](https://user-images.githubusercontent.com/7734046/143685505-d3037928-10e2-4ee5-bbbe-fd2da6ce7fc3.png)

**Steps to reproduce:**

1. run `yarn start:core`
2. add a box to page
3. then select the `erase` tools.
4. then click on the box. NG

**Env:**
- local dev
- commit: https://github.com/tldraw/tld

[2021-11-27 14:51] #397 closed

[2021-11-27 16:58] seflless opened #400 "[bug] Remove warning when pasting plain text."
When you have copied text from either outside Tldraw or say a Sticky's textarea, and then paste, an exception is logged to the console.

This doesn't seem to effect behavior, but perhaps the console.warning of the error should be removed?

https://user-images.githubusercontent.com/1845/143690170-e4af3fd2-993a-4363-b43c-b0b10f7b6826.mov

[2021-11-27 17:18] steveruizok commented on #303
Want to try adding a diamond?

[2021-11-27 17:27] seflless opened #401 "[feature] Pasting Raw Text Repeatedly Should Not Fully Cover Up Previous Pastes"
See video. To reproduce:
 1. Selected some text from a text editor
 2. I did Command+V 8 times
 3. 8 text shapes were created on top of each other
 4. This makes it easy to not realize you've got duplicates on your board

https://user-images.githubusercontent.com/1845/143690995-00e549af-8d7c-4b2a-8e8a-82619a2b7249.mov

[2021-11-27 17:29] seflless commented on #401
This is a non issue when copy/pasting text shapes (versus raw text

https://user-images.githubusercontent.com/1845/143691058-473c6ff7-f6ba-45e3-a9e3-a4d2562f2ec3.mov

)

[2021-11-27 17:33] steveruizok commented on #401
Good catch! (I think there's also a bug with "regular" paste that doesn't offset the second pasted object, only the third and there on).

[2021-11-27 18:38] steveruizok commented on #394
I do have tldraw as an org now, but I'm not sure if we can republish the same extension from different orgs. It could end up having users needing to uninstall the one extension in order to install the other, which would be a lot of friction. We could just keep it?

[2021-11-27 18:41] BRO3886 commented on #400
Yeah from what I could see, the code is trying to parse JSON just in case it was copied from tldraw, to make it a shape again. It's wrapped in a try-catch so for regular text it just throws a warning via `console.warn()`

The warning can be removed I guess

[2021-11-27 18:48] seflless commented on #394
I'd assume you can transfer ownership to another org like you can an npm package or git repo, but might be wrong.

I just wanted to track the question if it was easy. Feel free to close this if you'd like.

[2021-11-27 19:36] steveruizok commented on #394
Right on. I'm going to close until I know more about transferring between projects.

[2021-11-27 19:36] #394 closed

[2021-11-27 19:37] steveruizok opened #403 "[bug] Jumping bound arrow?"
Not sure what's happening here. I'll see if I can reproduce.

![Kapture 2021-11-27 at 19 31 50](https://user-images.githubusercontent.com/23072548/143720017-7fada0a9-7db8-4612-933c-01ca85a58624.gif)

[2021-11-27 19:56] steveruizok commented on #385
This issue is closed by #393!

[2021-11-27 19:56] #385 closed

[2021-11-27 19:57] steveruizok commented on #385
I'm pretty sure there's a way to save this to the clipboard without having this happen, but I haven't looked into it. Anyone here with experience?

[2021-11-27 19:57] steveruizok commented on #384
Good god this is an annoying one.

[2021-11-27 20:02] steveruizok opened #404 "[bug] Pink Menu button shown for sponsors in multiplayer"
When a user is a sponsor and is logged in, the menu button is shown as white and the Sponsor button is hidden. However, in the multiplayer route (apps/www/pages/r/[id].tsx) the menu button is still shown the same as if the user was not logged in or not a sponsor.

[2021-11-27 20:08] proful commented on #396
What about the initial size? It is going to be fixed for example 500x500?

[2021-11-28 05:51] BRO3886 commented on #385
default copy as JSON is fine, I think copy as PNG or SVG can be added

[2021-11-28 11:09] Soyn opened #405 "[bug] Editing state is wrong in core advance example"
**Behavior:**

In core advance example, the editing status is not right.

**Steps to reproduce:**:

1. editing on the canvas
2. the editing status is not right

**Env:**

1. local dev

[2021-11-28 13:07] #405 closed

[2021-11-28 13:46] nileshtrivedi opened #408 "[feature] Custom data attributes on shapes"
It would be really useful if the editor allows users to add and edit custom data attributes per shape. The use-case I personally have is using TLDraw as a visual graph (with labeled nodes and labeled edges) dataset editor with collaboration with team members - in order to build a skill-tree for a game. Once it's exported to JSON, it can be parsed and processed in various ways. But I couldn't find

[2021-11-28 14:48] steveruizok commented on #408
You'd probably want to build on tldraw/core for that kind of application, in which case you absolutely could add whatever extra data attributes you wanted to your shape definitions. (You would be extending that basic `TLShape` interface). Maybe start by hacking on the core-example-advanced project?

[2021-11-28 14:53] steveruizok commented on #408
Interesting use case though. If I understand correctly you would want to use tldraw.com to do the editing for the skill tree, but then parse it out automatically based on the document? In that case, I could see the argument for using tldraw.com rather than building something new.

The shapes do have "name" properties (though not exposed in the UI) that could be used for this kind of arbitrary data

[2021-11-28 15:03] nileshtrivedi commented on #408
I am using a hack right now. I only use text nodes and arrows connecting them. And then I put text in this format: `name: param1: value1, param2: value2`. When I export the JSON of the page, I'm then able to recover these data points which fulfills my immediate need. I am unable to name the edges though, which means I can't store things like edge-weights or distances or costs. But my current use-c

[2021-11-28 15:04] steveruizok commented on #408
Interesting. I'm surprised there isn't a tool better suited to this! But I'd love to see one built with tldraw/core. :)

[2021-11-28 15:07] steveruizok commented on #408
I'm going to close this issue because it's not actionable. I'll keep this kind of thing in mind, though; it could be a use for something like a plug-in that uses the public Window.app API.

[2021-11-28 15:07] #408 closed

[2021-11-28 16:18] zakaria-chahboun commented on #228
PWA is the best choice

[2021-11-28 22:00] #400 closed

[2021-11-29 04:46] scottyantipa opened #411 "[bug] Undo doesnt work when the detail popup window is open"
To reproduce:
- Put some shapes on the canvas and select them
- Open the detail menu (the one labeled '...')
- Click any action in there, like align the shapes etc
- Do 'undo' using the keyboard shortcut (cmd/ctrl z)
- Note that the action does NOT undo. Undo does work if triggered via Hamburger -> Edit -> Undo

Found on: https://www.tldraw.com/

Example:

https://user-images.githubusercontent.com

[2021-11-29 13:01] Soyn commented on #387
@steveruizok Hey Steve, it sounds fun. Is there anything i can give you a hand?

[2021-11-29 17:06] AdventureBeard opened #413 "[bug] Non-pinch zoom incorrect when embedded"
Mac OS, Chrome 96.0.4664.55, but confirmed on Windows Chrome/FF as well.

In the embedded demo, when using Option + Scroll zoom, the zoom anchor point moves around and causes the viewport to fly off in a direction related to mouse position. The Ctrl+Scroll zoom, or pinch zoom, does not have the same issue. This problem goes away when the Tldraw container CSS is set to `position: fixed; top: 0; lef

[2021-11-29 19:09] seflless commented on #239
This one is fixed in https://github.com/tldraw/tldraw/pull/399

[2021-11-29 19:09] #239 closed

[2021-11-29 19:19] rjt-rockx opened #414 "[bug] Erasing within an unfilled shape erases the shape"
When a rectangle (or any other shape for that matter) is drawn with no fill, erasing within it currently erases the shape itself.
This can be pretty annoying, like when using a rectangle as a frame for hand-drawn artwork inside.
The expected behavior here would be for outer shapes to get erased only if they either have a fill or the eraser goes over the shape stroke.

[2021-11-29 19:45] AdventureBeard opened #415 "[bug] Using eraser on a bound shape doesn't work and can corrupt persisted document."
Mac OS, Chrome 96.0.4664.55

Using the eraser tool on a shape with a binding, best-case, does not erase the shape. Worst case, if you persist the document, it corrupts the document and prevents it from being loaded. Tested on tldraw.com.

[2021-11-30 04:12] Seanmclem opened #417 "Create new .tldr file sometimes appends .json extension"
VS Code extension. Opening file doesn't open tldraw editor. just JSON. There is no way to open an existing drawing.  Only create-new.. I need to open them in the extension too..

Mac OS 11.5.2, M1
VS Code 1.62.3
Extension 1.2.2

[2021-11-30 06:55] hengsok commented on #380
@steveruizok I also encounter this bug and is quite annoying as I use Apple Pencil often. Basically, this happens even for selecting any options from the 3 dots and also the Zoom options.

On a related issue, when we use finger to select the Page, it does not register our selection.

[2021-11-30 10:23] ammarahm-ed opened #418 "[Improvement] tldr file size can be reduced upto 4x times."
A simple but great improvement would be to minify the JSON data before storing as file in `.tldr` format. If you ask me how much difference would make. I tired to minify a 230 KB document and it's size reduced to only 40KB. I used this [website](https://codebeautify.org/jsonminifier) to test the difference in file size.

[2021-12-01 00:17] megnakokkalera commented on #411
Hi! I am interested in fixing this bug. If nobody else is already working on it, could you assign this issue to me @steveruizok? Thanks!

[2021-12-01 00:23] AnaghaS24 commented on #414
Hi! I'm interested in working on this bug. If nobody else is working on it, can I be assigned to the issue @steveruizok?

[2021-12-01 00:26] proful commented on #411
@megnakokkalera please raise a PR

[2021-12-01 01:41] megnakokkalera commented on #411
Will create a PR after I am finished with the changes. Just wanted to claim this issue first before working on it. Thanks!

[2021-12-01 02:44] #375 closed

[2021-12-01 03:51] AdventureBeard opened #420 "[bug] TldrawApp incorrectly reports deleted bindings in broadcastPageChanges"
Was playing around the multiplayer example when I noticed this: https://github.com/tldraw/tldraw/blob/3856d3d5c4769d03cd6fba72465b191adeff2c81/packages/tldraw/src/state/TldrawApp.ts#L525

[code]
When the app state reports deleted bindings during a change broadcast, it uses shapes again instead of bindings. It seems like this would corrupt any persistence that utilizes this callback.

[2021-12-01 08:37] BRO3886 opened #422 "[bug] Conflicting shortcut for Ungrouping"
Grouping is done by `ctrl + G` and ungrouping (as per context menu) is `ctrl + shift + G`

Both features work fine. But the problem with having `ctrl + shift + G` for ungroup is that it has a side effectt of enabling grid. Grid enabling and disabling should not work when some component is selected.

If it's okay can I take it up?

Also, focus mode on linux is being enabled by `ctrl + .` instead of

[2021-12-01 08:59] steveruizok commented on #414
Go for it!

[2021-12-01 13:51] steveruizok commented on #422
Good catch. We could get rid of the shortcut for grid, or make it more obscure; or we could drop the ungroup shortcut. Grouping grouped shapes will ungroup them, so perhaps as that's already "in the app" we can drop the shortcut for ungroup?

[2021-12-01 13:52] steveruizok commented on #420
Well done, thanks for the PR @AdventureBeard !

[2021-12-01 13:52] #420 closed

[2021-12-01 13:56] steveruizok commented on #418
Want to give it a shot? Looks like there are several npm packages that could help with this without effecting the bundle size too much. My recommendation would be to minify only in production, as we're still doing some work with the VS Code extension that involves reviewing/editing the JSON by hand.

[2021-12-01 13:58] steveruizok commented on #417
Is the file a valid .tldr file? Would you be able to post the contents or send them to me (on Discord maybe?). Can you open the file in the webapp?

[2021-12-01 14:04] steveruizok commented on #414
This is maybe related: for geometric shapes, should we force users to click on / brush against the edges of the shape? In other words, should the `hitTestBounds`, `hitTestLineSegment`, and `hitTestPoint` for these shapes return different results if the shape is filled?

[2021-12-01 14:24] steveruizok commented on #411
Let me know how you get on @megnakokkalera. 👍 We need to be careful about allowing keyboard events to leave the menus, as menus as navigable via the keyboard, and may include textfields or other places where keyboard events shouldn't effect the rest of the app.

[2021-12-01 18:23] BRO3886 commented on #422
Instead of changing shortcuts we can disable functionality which enables and disables grid when a component is selected?

[2021-12-01 19:30] AdventureBeard opened #425 "[bug] Multiplayer does not support simultaneous actions."
Was playing around on Tldraw.com with a friend when I noticed these issues:

When another user makes a simultaneous change:

1. If you are in a draw session, the editor crashes.
2. If you are in a shape creation session (just added a rectangle and resizing it, etc), the shape is immediately deleted.
3. If you are typing, the typing is interrupted and the text field is blurred.

Unfortunately, this

[2021-12-01 21:46] steveruizok commented on #425
Woah, that's a pretty bad regression. I'll look into it too.

[2021-12-01 22:32] steveruizok commented on #425
Soft closed, let's keep an eye on this.

[2021-12-01 22:35] AdventureBeard commented on #425
(duplicating message here) I can confirm #426 fixes drawing sessions and text editing sessions. I'm still seeing the vanishing behavior for shape creation sessions.

[2021-12-02 03:04] Seanmclem commented on #417
For some reason, the file was created with a .json extension. So it was `name.tldr.json`. Once I removed the .json, it worked fine. Might be a but that the extension added the extra extension>

[2021-12-02 13:02] steveruizok commented on #425
Closed by #427 ! Thanks again @AdventureBeard

[2021-12-02 13:02] steveruizok commented on #384
Closed by #427 !

[2021-12-02 13:02] #384 closed

[2021-12-02 13:02] #425 closed

[2021-12-02 14:23] Soyn commented on #360
@steveruizok According to your description. If we want to build a plugin system like figma. I think more details should be considered, like:
- security
    - how to protect the safety of main app when load plugin
- stability
    -  plugin should not slow down main app
    - plugin will not break the feature of main app
    - when app upgrade, the plugin should work well
- Ease of development
    -

[2021-12-02 16:47] ReneCode commented on #360
Figma has documented their journey to plugins here:
https://www.figma.com/blog/how-we-built-the-figma-plugin-system/

[2021-12-02 18:33] seflless opened #430 "[feature] Prototype a Code Editor and Preview Components using Sandpack"
Codesandbox just announced Sandpack a module for easily making embedded code editors and preview panes. It'd be fun to see what concepts/components could be built from Sandpack. A zoomable canvas for code editors and preview panes would be awesome.
https://twitter.com/codesandbox/status/1466428912087576587?s=21

Obviously, Tldraw inside Tldraw would be the first demo

[2021-12-02 22:57] proful commented on #430
I am really excited about this integration.

[2021-12-03 03:11] megnakokkalera commented on #411
Do you mind elaborating on this? Thanks so much!

[2021-12-03 05:23] megnakokkalera commented on #411
@steveruizok Is there a significance to canHandleEvent and elm in KeyboardShortcuts? If the function canHandleEvent returns true always, you can hit ctrl-z when the menu is open and it will work. The problem is that when you open a menu, the active element becomes the menu but elm does not include the menu. So, the function returns false and you are unable to do ctrl-z when the menu is open. The f

[2021-12-03 11:21] dennemark opened #431 "[bug] Saving Pages in VSCode"
Hi,

I have tested tldraw recently in vscode and it´s been great so far.

I am not sure, if it is correct to open issues in this repository if it is concerning the vscode extension. Please let me know, if it should be opened somewhere else.

I realised I cannot  save or rename pages properly within vscode. If I press save and reopen the document old pages are not visible, except for the first one.

[2021-12-03 11:25] dennemark commented on #431
Might be a different issue... I just tried to create another .tldr document, but cannot save that one, too.
Will try to figure out the reason.

[2021-12-03 11:52] dennemark commented on #431
This is what happens now even after restarting computer and reinstalling tldraw and opening a new project. It´s pretty confusing. Issues you don´t want to deal with, sorry 😅

![tldraw](https://user-images.githubusercontent.com/29654902/144597862-875ffce6-5905-4ca4-aa04-59a74a507a7f.gif)

[2021-12-03 22:43] steveruizok commented on #431
uh oh

[2021-12-03 22:52] steveruizok commented on #431
Looking into this. I don't think anything on our side changed recently, so it may be an API change?

[2021-12-03 23:03] steveruizok commented on #431
Thanks for raising this @dennemark. There's an error thrown when saving, shown below. @seflless any insight?

[code]

[2021-12-03 23:23] seflless commented on #431
I won’t recognize the issues from reading this. Will look at it tonight when I’m back at my desk. Thanks for reporting it!

[2021-12-03 23:46] steveruizok commented on #431
It's also happening in dev, so at worst we could manually roll back changes until it works again to see what broke it.

I'm not seeing anything on the Discord channels, so either we're using an obscure part of the web view API has changed, or else it was something on our side. But AFAIK none of the changes for the last few weeks were substantial, just keyboard shortcuts?

[2021-12-03 23:54] seflless commented on #431
Definitely just try rolling back and see if it’s fixed locally as a quick sanity check. I’m taking that approach if you don’t beat me to it

[2021-12-04 07:49] BRO3886 commented on #422
I tried doing this, doesn't work properly because it's ungrouped as soon as it tries to enable grid, so the hook which tells whether a group is selected returns `false`

I guess I'll just drop the ungroup shortcut for now...

[2021-12-04 14:04] #422 closed

[2021-12-04 15:00] steveruizok commented on #431
Got it, looks like it was introduced last week with 1.2.3. Thanks again for raising this @dennemark.

[2021-12-05 20:51] megnakokkalera commented on #411
attached is video of the fix
it would be great if you could review, thanks!

https://user-images.githubusercontent.com/89897185/144763414-71c01b73-8e51-418b-8572-0a6551b46eab.mov

[2021-12-05 22:47] steveruizok commented on #372
Hey, sorry this was a quick one.

What I mean is:

- The default alignment for Text shapes should be Middle, rather than Start.
- The "justify" alignment style, shown below, should be removed from the app.

![image](https://user-images.githubusercontent.com/23072548/144766962-9e0f52c2-acc9-4109-a5a4-5510edabf1ea.png)

[2021-12-06 01:25] #431 closed

[2021-12-06 01:26] steveruizok commented on #415
Thanks!

[2021-12-06 01:26] #415 closed

[2021-12-06 01:27] steveruizok commented on #413
Thanks!

[2021-12-06 01:27] #413 closed

[2021-12-06 01:28] steveruizok commented on #382
Closing this one, though glad to have this discoverable as an issue.

[2021-12-06 01:28] #382 closed

[2021-12-06 01:28] steveruizok commented on #386
Closing this issue, as it will be addressed in #45. Thanks @csholmq

[2021-12-06 01:28] #386 closed

[2021-12-06 07:49] BRO3886 commented on #418
Can I try this?

[2021-12-06 08:16] dennemark commented on #431
Thanks a lot! @seflless and @steveruizok
Works properly again :)

[2021-12-06 18:23] #411 closed

[2021-12-06 21:41] steveruizok commented on #418
Go for it!

[2021-12-07 09:51] japneetsingh035 commented on #350
Hi @steveruizok, I would like to work on this feature. Please assign!

[2021-12-07 09:59] japneetsingh035 commented on #404
Hello, @steveruizok I would like to work on this bug. Please let me know if I can start.

[2021-12-07 22:14] proful commented on #350
Hi @japneetsingh035 assigned to you. Let us know if you have any questions.

[2021-12-08 03:46] AdventureBeard opened #439 "[improvement] Global space and middle mouse button panning state."
Many whiteboard applications, such as Excalidraw and Figjam, use a global panning state when the spacebar or the middle mouse button is pressed. This allows you to make canvas adjustments regardless of what tool you're currently using. I think it would be quite handy in Tldraw!

[2021-12-08 16:19] AdventureBeard opened #441 "[feature] Document validation and softer failures"
As someone interested in the multiplayer aspect of Tldraw, I often experiment with approaches for synchronization. Tldraw understandably crashes when ID references are invalid, but this happens often when developing and debugging a multiplayer solution.

It would be neat to check the validity of a Tldraw document or have a "safe mode" that degrades more gracefully when a reference is incorrect.

I

[2021-12-10 00:55] dreamorosi commented on #380
I've [opened an issue](https://github.com/radix-ui/primitives/issues/1027) on their repo about this.

[2021-12-10 01:05] Soyn commented on #380
@dreamorosi Thanks!

[2021-12-11 05:03] japneetsingh035 commented on #350
Hi @proful, Thank you for assigning me, but this looks out of my knowledge. I don't know how will I implement swift code to work on this web app. Maybe, I need practice in this language first to make this feature.

[2021-12-11 08:20] steveruizok commented on #404
Go for it!

[2021-12-11 08:41] omar2205 opened #444 "[feature] Adding arrowhead to end of drawing"
Allow attaching an arrowhead to the end of a drawn line

[2021-12-13 20:52] milo- opened #445 "[bug] setSetting breaks replacePageContent"
I just ran into this issue, when I was looking to disable the debug bar.

If you call setSetting (e.g. app.setSetting("isDebugMode", false)), replacePageContent stops working. I've narrowed it to the following call.

1. setSetting calls persist
https://github.com/tldraw/tldraw/blob/ec203332deffd4594aba94ae15fda4cebcb6a9ee/packages/tldraw/src/state/TldrawApp.ts#L887
2. onPersist calls broadcastPage

[2021-12-15 04:09] horizon0514 opened #446 "How the references work?"
https://github.com/tldraw/tldraw/blob/main/packages/core/src/inputs.ts#L4
![image](https://user-images.githubusercontent.com/1518608/146121427-86421eb5-0640-4273-8893-a98f6881f87d.png)
I want to know how the Line4 import works.
There is no `paths` setting in the tsconfig.

Does anyone familiar with the tsconfig can help me?

[2021-12-15 21:14] #445 closed

[2021-12-15 21:22] steveruizok commented on #444
Could work!

[2021-12-17 05:43] pgandla opened #450 "[feature] Export drawing into multiple formats"
Please provide a feature to export the drawing into PDF, PNG, JPG formats.

[2021-12-18 10:22] jameshfisher opened #453 "[bug] "Copy as SVG" does not respect z-ordering of elements after using "Move to back""
Steps to reproduce:

1. Create shape A
2. Create shape B on top of it
3. Use "Move to Back" so that A is on top of B
4. "Copy as SVG"
5. Paste as SVG file and view in e.g. Chrome

Expected behavior: A is on top of B

Actual behavior: B is on top of A

[2021-12-18 10:24] jameshfisher commented on #453
Guess: the z-order in the SVG is defined by the listed order of the elements, which is defined by their creation order in the app, and whatever "Move to Back" changes is just ignored.

Will investigate/fix later

[2021-12-18 10:32] jameshfisher opened #454 "[bug] "Copy as SVG" shortcut (Cmd-Shift-C) is already taken by Chrome's "Open Developer Tools""
When I try to use the shortcut suggested in the menu, it just opens the Chrome dev tools :-)

Same in Firefox

In Safari, it seems to start the "element selection" thing in dev tools

[2021-12-18 10:38] jameshfisher commented on #454
Might sound weird, but I suggest using plain characters as shortcuts, e.g. "c" and "Shift-C", [as suggested here](https://stackoverflow.com/a/59010351/229792). You're already doing this with numbers for the toolbar so it would fit with that.

[2021-12-18 20:49] #453 closed

[2021-12-21 05:24] fhefh2015 opened #456 "[bug] Demo Code UI display problem"
## Demo Code
https://github.com/tldraw/tldraw/tree/main/examples/tldraw-example
---
Step:
1. cd `tldraw-example`
2. npm install
3. npm run start

Demo code UI:
<img width="744" alt="CleanShot 2021-12-21 at 13 17 55@2x" src="https://user-images.githubusercontent.com/14891797/146875465-2408e69d-622c-456a-9ccf-f1c07cbc1330.png">

tldraw.com UI:

<img width="736" alt="CleanShot 2021-12-21 at 13 18 45@

[2021-12-22 00:16] steveruizok commented on #456
Which browser is that? I can't reproduce on Chrome but that looks like something else.

[2021-12-23 06:41] FarazzShaikh commented on #166
@steveruizok @proful Is this feature still in the works? I have been toying around with this lib and developed a Photo and Video shape on [my fork](https://github.com/FarazzShaikh/tldraw/tree/feature/image-video-shapes).

This shape uses base64 encoding as default but provides callbacks that can be used to very easily incorporate a storage bucket as I have done for the tldraw example.

Maybe we ca

[2021-12-23 06:46] proful commented on #166
@FarazzShaikh  Please raise a PR.
Sorry I kept it assigned in my name.

[2021-12-23 07:37] FarazzShaikh commented on #166
@proful No problem mate, will do. Can you assign this issue to me?

[2021-12-23 10:27] steveruizok commented on #166
Excited to see what you've come up with!

[2021-12-23 19:17] FarazzShaikh commented on #396
@proful @steveruizok this should be fairly straightforward and very cool to have as well. I can knock this one out in a couple days. Can you assign to me?

[2021-12-23 19:25] steveruizok commented on #396
Yeah, I will. My biggest hesitation here is on the UI: we may need some kind of address bar as part of the shape itself, perhaps only visible when the shape is selected. We'll also need to make these shapes "editable" when double clicked, and only take pointer events while editing, so that for example scrolling over an iframe shape doesn't capture the script within the frame. But take a shot at it

[2021-12-23 20:04] FarazzShaikh commented on #396
Yeah you’re right. As you suggest, let’s have an “focus” state enabled by double clicking which then passes on mouse events to the iframe instead of the canvas. Deactivated by “esc” key perhaps?

for the address bar, maybe that can be in the right-click context menu? As the double click action will be takes by the “focus” mode.

Also it’s going to be virtually impossible to sync up the internal st

[2021-12-23 23:37] seflless commented on #396
@FarazzShaikh a lot of embeddable documents are now multiplayer themselves. So this composed well.

[2021-12-24 11:32] Proful commented on #430
I have started looking into it on next repo.

![code3](https://user-images.githubusercontent.com/354596/147349043-2eba26e1-f823-40f7-b53f-ed151c972f05.gif)

Any suggestion or thoughts on this?

- At this moment the bundler is hosted by code sandbox CDN. It can be self hosted in future. But feels bit messy.
- Saving code in document json? or asset table like image?
- Do we want it to work on multip

[2021-12-24 12:14] seflless commented on #430
### At this moment the bundler is hosted by code sandbox CDN. It can be self hosted in future. But feels bit messy.
Seems Codesandbox is going to have a HUGE incentive to do a good CDN implementation and have it never go down. They are really promoting people Sandpack.

### Saving code in document json? or asset table like image?
Document would be my vote! But I don't know much about the asset tab

[2021-12-24 12:15] seflless commented on #430
@Proful Loving this! Multiplayer presence on which tab people are in and where their cursor/selection is would be a nice touch too.

[2021-12-24 15:42] steveruizok commented on #430
We could use Y as a parallel engine for multiplayer text, or else use the presence api available from liveblocks. I don't know much about what data we need to be trading to support multiplayer.

A second question would be when do we make changes to the data model? At the moment we make those changes on every keystroke, which is safest for preventing data loss, but we could instead be updating the

[2021-12-24 15:46] steveruizok commented on #430
If we keep the code in the document, then yeah I don't think there's any need to use an asset table. (If I cloned an editor shape, I would expect to be able to edit them both independently.)

[2021-12-25 08:42] lichin-lin commented on #388
Hi @steveruizok I have some idea about this issue:

When the user clicks on some children in a group, [the logic](https://github.com/tldraw/tldraw/blob/main/packages/tldraw/src/state/tools/SelectTool/SelectTool.ts#L507) in **SelectTool.ts** will set the `selectedGroupId` into some value, but when the user clicks outside of the group, or, on the canvas, there's no logic to clean up the `selectedGro

[2021-12-25 08:44] steveruizok commented on #388
Thanks for the analysis! Want to make a PR? If not, I can come back to this in a few days and try to apply your fix.

[2021-12-25 13:26] #404 closed

[2021-12-25 13:37] #390 closed

[2021-12-25 14:46] steveruizok commented on #228
We do have PWA support! But it is still somewhat limited compared to an Electron app, so worth exploring here.

[2021-12-25 17:06] #166 closed

[2021-12-27 02:59] lichin-lin commented on #388
yes! i am working on it! but some how one of the test case in `SelectTool.spec.ts` can't pass (**Edits grouped text on double click after selecting**) 😢, the behavior is different when the double click happens in the test env versus actual user trigger it.

[2021-12-27 08:16] steveruizok commented on #388
Right on! Don't worry about that, feel free to skip the test or write it as a todo. (It may be an issue with the tests themselves).

[2021-12-27 13:44] gsouf opened #464 "[documentation] Renderer "assets" props"
Hi,

I'm following the readme of tldraw/core, it works well, but my IDE is complaining that the prop `assets` is required to use the component `Renderer`. It seems to work well without specifying this prop, and it is not documented. I'm not sure if it is really required or not.

Ultimately it would be nice to have a bit of documentation about it.

Thanks!

[2021-12-27 18:42] falconair opened #466 "[feature] Allow the removal of mouse cursor in multi player rooms"
I have recently come across this app and I love the concept.

I would like the ability to remove the cursor from a multi player room.

Context:
I teach over zoom and share my screen with students. This screen contains a browser with jupyter lab and some sort of whiteboard. When I need to use the whiteboard, I alt+tab to the white board app and use the dell pen to draw on my 2-in-1 laptop screen. S

[2021-12-27 23:54] #276 closed

[2021-12-27 23:54] #125 closed

[2021-12-28 08:00] FarazzShaikh commented on #363
@seflless Are you still working on this?

@steveruizok Id like to get started on the Puppeteer based image export option. Can you assign this to me?

[2021-12-28 08:02] steveruizok commented on #363
Go for it!

This would have to be done via an endpoint on the www site. (The library could have an async `onExport` callback but shouldn't not include the libraries themselves, which are quite large!

[2021-12-28 08:05] FarazzShaikh commented on #363
Yep! I will add the endpoint it to `apps/www`

For the UX, just to get started I am going to have it be the way figma does it, i.e. Export selected shapes and the image dimensions will be based on the combined bounding box. I will make it as modular as possible so we can switch out to using frames like you descried in the future

[2021-12-28 11:42] steveruizok commented on #464
Added to the core ! The `assets` property is also now optional for the `Renderer`.

[2021-12-28 11:42] #464 closed

[2021-12-28 11:53] steveruizok commented on #466
Hey, this is a great use case. You might also like another project of mine, [telestrator](https://github.com/steveruizok/telestrator)!

I'll take a look at providing an option to hide cursors. We currently have a "focus mode" that hides all of the UI elements (available under Menu > Preferences), perhaps that mode could also hide multiplayer cursors.

The multiplayer update rate is currently fixed

[2021-12-28 12:44] gsouf commented on #464
@steveruizok thank you!

[2021-12-28 14:11] gsouf opened #469 "[bug] yarn start:core not working on first build"
Hi,

I cloned the repo, I did install deps with yarn, then I followed instructions from [this readme](https://github.com/tldraw/tldraw/blob/32a5511b3d2423304c82f6412efaf5393bfbd6c2/examples/core-example-advanced/README.md) to start the advanced example. So I did run `yarn start:core` but it fails. Error says it can't resolve `@tldraw/vec`.

I found that running `yarn start` and running again `yarn

[2021-12-28 21:15] d-koppenhagen opened #472 "[bug] Crating a sticky note with an emoji blocks movement of the note on the canvas afterwards"
When I open a tldraw canvans and I create a sticky note and enter a text containing an emoji, the sticky note is not movable anymore on the canvas without reloading the whole page.

The Browser console doesn't show up any error message.

## Steps to reproduce

1. open https://www.tldraw.com/
2. create a sticky note
3. Enter some text containing an emoji (e.g. "Just a test 🧐")

![Screenshot 2021-12

[2021-12-29 18:42] seflless opened #473 "[feature] Copy Photoshop's Pencil Shift-Click for Easy Pencil Lines"
It's hard to draw straight lines with the Drawing tool. The Drawing tool being the only free form way to create arbitrary filled shapes, it'd be great if it was easier to draw straight lines. Photoshop has a nice feature where when you shift and click with the pencil tool, it will automatically create a straight line from the last point you drew at, to where you clicked. See video (I'm holding dow

[2021-12-29 23:08] seflless commented on #473
Wish there was an obvious UX for doing this on tough devices, but I can’t think of it

[2021-12-30 01:01] NikxDa opened #474 "[bug] Prevent shape cloning while editing text"
While editing the text of a node, pressing tab to type a tab will simultaneously clone the selected node.

The corresponding code is here:
https://github.com/tldraw/tldraw/blob/d7a697647b79939c9b88377183da7d48eb978fc7/packages/tldraw/src/state/tools/SelectTool/SelectTool.ts#L197

Probably needs a check to see whether the node is currently being edited.

[2021-12-30 01:03] NikxDa commented on #474
Given that this also occurs for other keyboard events such as `spacePanning`, maybe a status `editing` may be worth exploring.

[2021-12-30 17:43] BRO3886 commented on #418
Hi! I was caught up with university exams and interviews, did not get time to do so, I'll pick it up next week if someone is not working on this

[2022-01-01 01:05] khalil-omer opened #477 "[feature] React Native support"
I wanted to see if the tldraw React package would work in a React Native environment as I did not see any React DOM dependencies. Metro bundled threw a build time error related to a CSS in JS library that appears to be in use.

Any thoughts on what it would take to package tldraw for React Native without major refactoring? Would be happy to contribute to this.

[2022-01-01 10:48] steveruizok commented on #374
Fixed by removing the `display=swap` from the import CSS.

[2022-01-01 10:48] #374 closed

[2022-01-02 01:59] falconair commented on #466
Thanks @steveruizok , I didn't know about focus mode and it looks great. Looks like telestrator is a mac only app. Unfortunately I'm on windows.

[2022-01-03 09:22] steveruizok opened #479 "[bug] Undo/redo bug in multiplayer with bound shapes"
When undoing in multiplayer, a shape's binding can be restored even if the shape it is bound to has been deleted.

https://user-images.githubusercontent.com/23072548/147915396-74e17bbd-b1d3-4567-92b9-a0dd0cd9acb3.mov

[2022-01-03 09:26] steveruizok commented on #477
Ah that makes sense. The app relies quite heavily on CSS for the rendering side of things, so I'm not sure that we could bring it to React Native without some heavy cuts.

That said, I am working on the [next](https://github.com/tldraw/next) version of the tldraw engine, which will be "renderer agnostic". This is a complete split between the logical side of the app and the presentation, so somethi

[2022-01-03 09:26] steveruizok commented on #474
Good catch! Relates to #116 but I believe we can fix that sooner.

[2022-01-03 09:39] steveruizok commented on #474
Fixed! Thanks @NikxDa

[2022-01-03 09:39] #474 closed

[2022-01-03 09:41] steveruizok commented on #469
Thanks for the tip! I think it needs to build those packages first. It should be set up to do that automatically after installing dependencies. I'll check up on this. 👍

[2022-01-03 11:19] techware01 opened #481 "[bug] Ctrl + zooms in the entire browser window instead of only the canvas"
**Problem:**
- when pressing `ctrl +` on tldraw.com the entire browser window is zoomed in

**Excepted behavior:**
- the zoom level of the entire window stays the same and only the drawing board is zoomed in.
- zooming out with `ctrl -` on the other hand works as expected

**System:**
- Firefox 95.0.2 (64 bit)
- Arch Linux with Gnome Desktop

[2022-01-03 12:33] CosimoMatassini opened #482 "[bug] Settings not saving"
When I close the window (I tried on Vscode. Google Chrome and Firefox devoloper edition) only the drawing is saved. Everything else such as dark and debug mode are reset to default everytime I reopen the app/site.

[2022-01-03 16:54] IrishBumfuzzle commented on #482
can confirm, not saving settings

[2022-01-03 18:46] steveruizok commented on #482
Thanks for the issue!

[2022-01-03 19:31] khalil-omer commented on #477
@steveruizok  got it - happy to contribute to building a react native render once the split between logic and UI components is done.

[2022-01-03 19:36] steveruizok commented on #481
Nice find. Would you mind trying another browser? This will be hard to debug for me, since you're on Linux. Hopefully it's just a bug for Firefox.

[2022-01-03 19:37] steveruizok commented on #473
Long press?

[2022-01-03 19:37] steveruizok commented on #473
Shipped an initial version of this today, though let's keep this open  to discuss mobile.

[2022-01-03 19:45] seflless opened #483 "[bug] Long-press on Mobile Shows 2 Context Menus"
See video of issue.

https://user-images.githubusercontent.com/1845/147973132-069bb50f-ae55-4867-a897-630b2145c51d.mov

Repro steps:
 1. Open Tldraw.com in mobile Safari
 2. Select the draw tool
 3. Long press
 4. You will then see the bigger context menu, and when you let go, the smaller context menu

[2022-01-03 19:48] Francois-Laberge-Bose commented on #473
Overriding long press to be line draw when on pencil versus the context menu is meh. But maybe not the worst.

Other ideas: (none are pretty 🤮 )
 1. Double-tap to create the connecting line
 2. Have some sort of contextual mode toggle that shows up when you are using the drawing tool
 2. Add a 'Draw Line to Here" option to the context menu

[2022-01-03 20:28] jescowuester commented on #439
@steveruizok would love to take this. In the select tool we handle it like this:
[code]
Should I copy that (or a helper containing that code) for every single tool, or do we have a dedicated way to create global actions?

[2022-01-03 22:09] steveruizok commented on #439
Awesome, I'll check the PR!

[2022-01-03 22:11] steveruizok commented on #439
You might be able to handle this on the TLApp (it handles each events before forwarding it to the active tool), but otherwise yeah we'd need to repeat some code for each tool.

[2022-01-04 09:48] fabianmu opened #485 "[feature] refactor copySvg into @tldraw/core"
I came across the requirement to export a whole canvas as SVG. `@tldraw/tldraw` contains code to do that, however having this available in `@tldraw/core` seems reasonable as well. Maybe even as a counterpart to `import { Renderer } from '@tldraw/core'`

This might also be related to #450 & #468

[2022-01-05 10:33] steveruizok commented on #485
Let me think about this one. The SVG exports tend to be very much based on the specific shape implementations, and so for this to work developers would have to follow the patterns set in our `copySvg` method. If we did move it down, we'd need to have each `TLShapeUtil` implement an `exportSvg` method.

[2022-01-05 13:10] fabianmu commented on #485
Ah, I see. As developers already have to follow the method to create a shape, I think it would be straightforward to also have them write an export method, if needed. And have a core method trigger the export and iterate the shapes export methods to build the whole image export.
However, just thinking about this and I clearly do not have an deep understanding on which functionality is best in core

[2022-01-05 14:47] #439 closed

[2022-01-05 15:31] Francois-Laberge-Bose opened #487 "[feature] Change Icon When Holding Spacebar to Pan"
It's just a small improvement, but having the cursor icon change when you hold down spacebar, to indicate you can now pan if you click drag would be cool.

Figma's design as a reminder
https://user-images.githubusercontent.com/34040155/148244127-b2ef3c3e-e643-46aa-9bc6-199192ae7d2b.mov

[2022-01-06 15:12] milo- opened #489 "[bug] Multiplayer - Two people erasing at the same time causes crash"
Two people erasing at the same time triggers a crash:
`Cannot read properties of undefined (reading 'isStateful')`

Demo: https://www.loom.com/share/f2b84aa0edfc4ba3b3837232bdfbc607

<img width="605" alt="Screenshot 2022-01-06 at 15 16 23" src="https://user-images.githubusercontent.com/999442/148405288-a6d272e5-e1ba-4b01-9a46-44d934f83214.png">

[2022-01-06 15:58] milo- commented on #489
Started digging into this, I believe it's caused by the EraseSession patching the state of a shape that has been deleted by the other user. In useShapeTree the shape only has one property when it crashes: { isGhost: true }

[2022-01-06 19:22] steveruizok commented on #489
Great catch, I saw this one on Sentry but didn't know where it was coming from!

[2022-01-06 19:31] steveruizok commented on #489
I wonder if this "deleted during session" issue is present on any other session. We might have to add a "patched state" callback to sessions to resolve any changes to the document that have happened during this session.

[2022-01-06 23:16] no-1ne opened #491 "[feature] import/load from json"
Ability to export to json/svg is being added in the pull request https://github.com/tldraw/tldraw/pull/468

It would be great to have the ability to load the exported json. Creating a new issue to track it as suggested by @FarazzShaikh https://github.com/tldraw/tldraw/pull/468#issuecomment-1006611941

Thank you

[2022-01-07 05:16] FarazzShaikh commented on #491
@steveruizok lets assign this to me

[2022-01-07 09:30] milo- commented on #489
Thanks @steveruizok, just tested 1.4.3 and it's fixed 🙌🙌

[2022-01-07 09:30] #489 closed

[2022-01-10 11:32] fabianmu opened #492 "[bug] Flipping shapes is consistent and repositions them sometimes"
I noticed that flipping shapes is not consistent and sometimes shapes are changing the position while flipping.
Images are not flipping at all.
[See Video](https://discord.com/channels/859816885297741824/859816885801713729/928528464968052747)

[2022-01-10 12:35] steveruizok commented on #491
Sounds good to me, assigning!

[2022-01-10 12:38] steveruizok commented on #485
No worries! In general, the core library is concerned with rendering only, so I try to only add things to that library that will directly effect what gets rendered or how.

[2022-01-10 12:38] #485 closed

[2022-01-10 12:38] steveruizok commented on #487
Could be part of #280!

[2022-01-10 12:40] steveruizok commented on #492
Nice one. I'm considering adding a `flip` or `scale` property to all shapes to solve some issues we've had with flipped shapes. (We'd use CSS to do the actual flipping).

[2022-01-10 12:41] steveruizok commented on #483
I've fixed a bug related to the menu. It may have fixed this bug too. Could you check whether you can still reproduce this one?

[2022-01-10 14:19] Francois-Laberge-Bose commented on #483
I hard refreshed tldraw.com and tried again. Still occurs with the above repro steps. In case it hints at the issue, this issue doesn't happen when you have the Select, Eraser, Rect/Oval/etc, Text, or StickyNote tools activated. The Draw and Arrow tool have a similar issues

[2022-01-10 15:20] steveruizok opened #493 "[bug] SVGs not loading in multiplayer"
SVG images are not embedding correctly in multiplayer projects.

When you add an SVG shape to a multiplayer project, the file uploads correctly to the S3 bucket, however the `getSizeFromSrc` function throws an error.

[code]

Any ideas?

[2022-01-10 16:36] #363 closed

[2022-01-10 21:54] milo- commented on #493
@steveruizok looks like the Content-Type header when SVG's are uploaded gets set to binary/octet-stream rather than image/svg+xml

[2022-01-10 21:56] steveruizok commented on #493
Very weird. That's coming from S3 right?

[2022-01-10 22:15] nimeshnayaju opened #495 "[bug] File Save/Save As/Open shows error"
https://user-images.githubusercontent.com/35807215/148847512-919c78e7-3bf3-4b54-b6ea-636927d41553.mov

[2022-01-10 22:16] nimeshnayaju commented on #495
I don't mind working on this if someone's already not working on it.

[2022-01-10 22:16] nimeshnayaju commented on #495
@steveruizok I don't mind working on this if someone's already not working on it.

[2022-01-11 12:55] HerbCaudill commented on #246
I think this can be closed?

<img src='https://user-images.githubusercontent.com/2136620/148946286-f5e3a8f2-1e23-496c-99ba-64977df075a3.png' width=400 />

[2022-01-11 12:56] HerbCaudill commented on #254
this can be closed

[2022-01-11 12:57] HerbCaudill commented on #245
this can be closed

[2022-01-11 13:13] HerbCaudill opened #499 "[bug] On Windows, alt-scroll zooms in opposite of expected direction"
On Windows, the mouse scrolling direction is the opposite of the default direction on MacOS. On Mac, IIRC this is configurable in settings; on Windows it can only be modified by getting dirty in the registry.

Normal up/down scrolling in tldraw works as expected, but alt-scrolling to zoom in/out works in the opposite direction that users would expect:

- alt-scroll up zooms out, but should zoom in

[2022-01-11 13:17] HerbCaudill opened #500 "[feature] Support `del` key to delete, in addition to `backspace`"
On Windows my expectation would be that the `del` key would delete an object, just like the `backspace` key.

I'd be happy to take a stab at this if you want to assign the task to me.

[2022-01-11 13:17] HerbCaudill commented on #499
I'd be happy to take a stab at this if you want to assign it to me.

[2022-01-11 13:50] Tyriar commented on #245
Yep this is fixed

[2022-01-11 13:50] #245 closed

[2022-01-11 13:50] #254 closed

[2022-01-11 13:51] #246 closed

[2022-01-11 14:22] HerbCaudill commented on #500
nevermind — this already works, I think I must have had numlock on. 😳

[2022-01-11 17:13] milo- opened #502 "[bug] Alt + click copying an image/video shape and undoing causes crash"
To Reproduce:
1. Add an image shape
1. Alt + Click to Copy a few times
1. Undo a couple of times

Similar to https://github.com/tldraw/tldraw/issues/489 this also throws and exception in the useShapeTree as the shape type property is missing. This only seems to be an issue with local undo/redo, it doesn't impact Liveblocks multiplayer undo/redo.

I'm wondering if there needs to be a filter here as

[2022-01-12 10:59] techware01 commented on #481
Quickly checked it on Chromium and there it works!

[2022-01-12 11:03] techware01 commented on #495
Is there currently any work around to open a saved project? I'm currently using tldraw for sketching an interface and now I'm not able to access it and can't show it to anyone.

[2022-01-12 11:21] techware01 commented on #495
Ok installed the VSCode extension and with that I'm able to open my project.

[2022-01-12 13:36] #493 closed

[2022-01-12 13:37] #495 closed

[2022-01-12 14:45] FarazzShaikh opened #503 "[feature] Add IDs to UI elements to make them easy to override"
Adding IDs to the UI elements like the menu tabs will make it easier to style/remove them. This is useful as my application uses TLDraw but wants to disable some of the features from the menu.

[2022-01-12 14:45] FarazzShaikh commented on #503
@steveruizok What do you think? Can you assign this to me if you're wiling to have this in?

[2022-01-12 16:36] steveruizok commented on #503
Sure, go for it!

By the way, this is a direction I'm planning to further with in the next version of tldraw (ie override-able components as props, similar API to MDX).

[2022-01-12 16:39] steveruizok commented on #502
Is this just an issue with the ImageShape? No other shapes are producing the same bug?

[2022-01-12 16:40] steveruizok commented on #499
Thanks @HerbCaudill !

[2022-01-12 17:01] milo- commented on #502
ImageShape and VideoShape, I've not been able to reproduce with any of the other shapes.

[2022-01-12 17:01] FarazzShaikh commented on #503
Huh neat! Component props should be quite straightforward, maybe I’ll take that up next, sounds fun!

[2022-01-14 18:08] hamlim opened #507 "[bug?] Typing / (forward slash) in a text node doesn't work as expected"
### Description:

Unsure if this is intentional or expected, however if I am in a text field and I type the `/` (forward slash) character the cursor is removed from the field and instead the text node is outlined (however it isn't selected).

### Steps to Replicate:

- Open tldraw.com
- Select Text from the toolbar (or hit `t` on the keyboard)
- Click somewhere on the canvas and begin to type some

[2022-01-14 18:09] MostHated opened #508 "[feature] Double sided arrow"
Hey there,  I did not see a way to do it currently under styles or an arrow submenu so I just wanted to throw out the idea that a double-sided arrow  `<--->` would be extremely useful to have.

Thanks,
-MH

[2022-01-14 18:51] steveruizok commented on #508
P.S. If you have any ideas, feel free to add them to this issue! #28

[2022-01-14 18:52] steveruizok commented on #507
Ah right, we bound that to create "fake" pointer events, but didn't filter out the active element. I'll make a fix!

[2022-01-14 19:17] #502 closed

[2022-01-14 20:35] steveruizok commented on #507
Fixed by #509 !

[2022-01-14 20:35] #507 closed

[2022-01-14 20:36] steveruizok commented on #481
Fixed!

[2022-01-14 20:36] #481 closed

[2022-01-14 20:37] steveruizok commented on #483
Fixed!

[2022-01-14 20:37] #483 closed

[2022-01-14 20:38] steveruizok commented on #483
(almost certain, will reopen if it comes up)

[2022-01-14 20:40] hamlim commented on #507
Awesome thanks!

[2022-01-15 10:37] #499 closed

[2022-01-16 11:42] steveruizok opened #513 "[feature] Drag-and-drop tray"
I've been thinking about a "tray" full of shapes that can be dragged onto the canvas. Eventually we could use this for components, where the tray would include component instances, but it could be generally used for any re-usable or "saved" set of shapes, or even as a "second canvas" where dragging a shape out would create a clone of the shape in the other canvas.

![image](https://user-images.git

[2022-01-16 19:57] fabianmu commented on #513
That's cool! I like the bi-directional drag-and-drop idea and the overall flexibility to use this as with other components as that allows all sorts of elements, ie grouped shapes, search shapes as per individual implementation.
Couldn't this be a UI for #360?

[2022-01-16 20:22] Tyriar opened #514 "[bug] Should the vscode extensionKind include ui?"
Not sure if this was intentional, I would expect it to be a workspace extension as it's mainly a custom editor:

https://github.com/tldraw/tldraw/blob/89797787e8a5cf40712aabfe5b64131b39986559/apps/vscode/extension/package.json#L39

Docs:

https://code.visualstudio.com/api/advanced-topics/remote-extensions#architecture-and-extension-kinds

[2022-01-16 20:45] Claydelas opened #515 "[bug] Text shapes deleted by erasing text break the undo/redo stack"
### Here's how to reproduce:
![demo](https://i.imgur.com/zV22nW4.gif)

1. Add a text shape
2. Add text to it
3. Delete the text
4. Undo

Looks like this is similar to #502 and #489 in that the exception arises in useShapeTree.

[2022-01-16 21:17] Claydelas commented on #515
The undo-restored text shape doesn't seem to keep most of its previous TLShape properties.
Before undo:
[code]
After undo:
[code]

[2022-01-17 20:21] seflless opened #517 "[bug] New VS Code Extension Files Sometimes Save as .json instead of .tldr"
I don’t have repro steps, just a tweet report of this issue. I’ve seen this before too. So I’m documenting it for now.

[2022-01-18 02:10] wanfuuyu opened #518 "[improvement / bug] Create input / dialog for renaming pages"
rename a page in vscode not work, nothing happend after click rename

![image](https://user-images.githubusercontent.com/8027958/149858489-188310e1-cff1-4ac1-aea6-ccb096a54c68.png)

[2022-01-18 02:51] seflless opened #519 "[bug] Saving Acts as Undo Sometimes in VS Code Extension"
I don’t have more context than this tweet, tracking it though:
https://twitter.com/shoppingtheatre/status/1483141855563120642?s=21

[2022-01-18 08:44] Brifien opened #520 "[bug] Export to PNG, JPG and WEBP create empty files"
Export to PNG, JPG and WEBP create empty files.
I tried with Firefox and Chrome, even with very simple drawing.
SVG and JSON are working.

[2022-01-18 08:55] ppalone commented on #520
I checked the console while exporting, it makes request to the `https://www.tldraw.com/api/export` and the request fails with 500 status.

[2022-01-18 09:09] steveruizok commented on #515
Great fix!

[2022-01-18 09:10] #515 closed

[2022-01-18 09:13] steveruizok commented on #515
Closed by #516. Great find.

[2022-01-18 09:14] steveruizok commented on #520
Here's the error message from the server:

[code]

[2022-01-18 09:17] steveruizok commented on #520
The `puppeteer` package was mistakenly added to `@tldraw/tldraw` rather than `@tldraw/www`. Let's see if fixing that fixes this.

[2022-01-18 09:41] ppalone commented on #520
https://tldraw.com gives me same error, I assume changes aren't deployed yet.
https://tldraw-tldraw.vercel.app & https://tldraw-git-main-tldraw.vercel.app gives CORS error 'Access-Control-Allow-Origin' missing while exporting.

[2022-01-18 09:57] steveruizok commented on #518
Confirmed bug. We use `window.prompt` for the rename page UI and this does not work in VS Code.

Sounds like we need some actual UI!

[2022-01-18 09:59] steveruizok commented on #514
@seflless you may know?

https://code.visualstudio.com/api/advanced-topics/extension-host#preferred-extension-location

[2022-01-18 10:00] steveruizok commented on #513
Yeah, it could fit with that too!

[2022-01-18 12:10] Brifien opened #522 "[feature] White background (or transparent background?) on export"
Hello,
Thanks for tldraw, it is really great!
I noticed that the background is not really white (RGB: 248, 249, 250). When the drawing is exported to PNG and imported in Word (for example), the background is therefore not white (or transparent) and it is not "nice".
Could you change the background to white or an option to do it?
Thanks :-)

[2022-01-18 12:26] ppalone commented on #520
Export works like charm now, issue can be closed.

[2022-01-18 14:18] Francois-Laberge-Bose commented on #514
Yep, looks like just using "workspace" should be fine. Thanks @Tyriar . Not sure why I had that, it's been months since I did this part. I'll fix this and create a PR today.

[2022-01-18 14:26] seflless commented on #514
https://github.com/tldraw/tldraw/pull/523

[2022-01-18 16:58] steveruizok commented on #520
Should be working now! Thanks for bringing it up @Brifien  @ppalone

[2022-01-18 16:58] #520 closed

[2022-01-18 16:59] steveruizok commented on #522
That's a good idea, especially for export! I'll think over our options there. I'm personally a fan of the off-white canvas, so that the white UI shows up more clearly, but I'm open to ideas.

[2022-01-19 06:49] devkev opened #524 "[bug] Exporting 2nd (or later) page to image fails"
Exporting (to PNG) the 1st page works fine, but when I try to export the 2nd, 3rd, 4th, etc page, I get a blank image containing centered text that says "Application error: a client-side exception has occurred (see the browser console for more information).".  Unfortunately, there are no log messages in the browser console.

This is on tldraw.com in Chrome 97 on Linux.  The `https://www.tldraw.com

[2022-01-19 09:10] steveruizok commented on #524
Oh that makes sense actually, let me make a PR.

[2022-01-19 12:33] #524 closed

[2022-01-19 12:34] steveruizok commented on #524
Fixed!

[2022-01-19 13:00] devkev commented on #524
Thanks!!

[2022-01-19 13:01] devkev opened #526 "[feature] Export all pages"
I can't find any way of doing this in the UI, but it would be a lot more convenient than manually exporting each page individually.  I suppose a similar feature would be to be able to selective export a subset of pages.

[2022-01-19 13:02] devkev opened #527 "[feature] Ability to rearrange page order"
I suppose a viable workaround in the meantime is to save the project, and then rearrange the pages in the JSON, and then re-open the project.

[2022-01-19 14:08] steveruizok commented on #526
Good idea! We could download as multiple images, or else as a zip?

[2022-01-19 23:20] devkev commented on #526
I don't really mind either way.  I think there are some hoops that browsers make you jump through for multiple/bulk downloads (to avoid abuse), so a zip might be easier?

But it would also be better if the purely client-side export formats (svg and json) could stay that way, ie. if generating a zip in the browser is difficult and so the pages would instead be sent to the server (to be zipped), the

[2022-01-20 10:17] steveruizok opened #528 "[bug] Initial arrow binding not working on text shapes"
When you start an arrow on top of a text shape, it does not bind to the text shape.

[2022-01-20 11:26] FarazzShaikh opened #529 "[bug] Large images breaking PNG export"
A page with a large image (here: 2MB) like this:

![image](https://user-images.githubusercontent.com/55190601/150329424-67d30ac7-1f0b-4bb2-9145-59f16de27150.png)

Exports incorrectly as a PNG to this:

![image](https://user-images.githubusercontent.com/55190601/150329664-eb599c89-edc3-4f72-a0e7-94cf3718fc08.png)

(Screenshot because original export is 81MB)

Interestingly, JPG, SVG and WEBP work n

[2022-01-20 20:12] steveruizok commented on #529
Zuh?? No idea why that would be happening. Maybe something to do with puppeteer?

[2022-01-21 11:44] #503 closed

[2022-01-24 06:09] devkev opened #531 "[bug] Duplicating non-current page can cause app to become unusable"
Steps to reproduce:

1. Fresh state (eg. incognito window) on tldraw.com.
2. Draw an object (eg. freehand line).
3. Click the page name ("Page 1"), then click the settings for the page, then click Duplicate.
4. Click the page name ("Page 1 Copy"), then click the settings for "Page 1" (but without actually changing the current page back to "Page 1"), then click Duplicate.
5. The "client-side except

[2022-01-24 06:11] devkev opened #532 "[feature] Uncaught exception should provide a way to get app state"
I was using tldraw.com in Safari on an ipad when I ran into #531.  Unfortunately this means I now can't get access to my drawings, because Safari on ipados doesn't have native devtools (it requires connecting to Safari on macos desktop, which I don't have) - even though I know they're sitting right there in the IndexedDB in the browser.

It would be much better if this generic "a client-side excep

[2022-01-24 17:41] herrKlein opened #533 "[feature] Feature or improvement"
Hi, really nice tool you got here, we have the first diagrams in our repositories to explain our codebase.

I really like to have a large overview of components which can be drilled down to expose more details about classes or other components in our architecture. For now the classes all have different pages to explain them.
It would be really nice to add hyperlink to shapes which link to the diff

[2022-01-25 01:07] jasonLaster opened #534 "Improve package sourcemap publishing"
Just looked into what it would take to see sourcemaps for packages like core, intersect, tldraw, and vec for this [replay](https://app.replay.io/recording/tldraw--36d4df00-05dd-4360-b3d0-aee7100d0df0?point=1622592768338123672733933048430991&time=866.2205374503033&hasFrames=false) in the preview branches and prod.

Here's what I found

* the packages are building sourcemaps which are published to N

[2022-01-25 09:57] #534 closed

[2022-01-28 13:53] jibe-b opened #536 "[bug] Media upload fails in Multiplayer Room"
Clicking on "Upload Media" in the menu works when using a default room but not when the room is a "Multiplayer Room".
The expected file selection window does not show up, and no log appear in the console.

I tryied on desktep, using Firefox 96 and Chromium 97 on Ubuntu 20.04

PS: this app is definitively great, even at this early stage, congrats to the devs!

[2022-01-28 22:53] Tyriar opened #537 "[bug] Ctrl+shift+C doesn't work in vscode/Windows"
![image](https://user-images.githubusercontent.com/2193314/151632487-5be40c8c-24dc-4df4-8e14-69e3d0bda569.png)

When triggered the keybinding gets handled by vscode and opens the external terminal.

Think I might have brought it up before but if you really want to feel "VS Code native", you'll need to redefine all the keybindings in the package.json and route commands to the tldraw commands. Ideal

[2022-01-28 22:56] Tyriar opened #538 "[bug] Text is offset incorrectly when copying as svg"
In tldraw in vscode:

![image](https://user-images.githubusercontent.com/2193314/151632851-284bfe56-e8a1-4297-a814-abbe6b637d77.png)

The svg:

![image](https://user-images.githubusercontent.com/2193314/151632870-b370da8c-ff69-44e3-979c-4e6366401e64.png)

The arrow text is very off but the rectangle text is also not aligned correctly.

[2022-01-28 22:58] Tyriar opened #539 "[feature] Create export as svg command in vscode"
Right now it's awkward in vscode to save the file as an svg, I think the only way is to copy as svg (which has problems https://github.com/tldraw/tldraw/issues/537) and then paste it into a new file, and then save it and make sure it ends with .svg

[2022-01-28 22:59] Tyriar opened #540 "[bug] Don't use the Windows key (on Windows/Linux) for keybindings"
This is bad practice, I'm assume it's because this is more mac focused currently?

![image](https://user-images.githubusercontent.com/2193314/151633141-29398fb3-32b0-43d0-b831-2dcdfe14bce9.png)

Windows+= is actually bound at the OS level to the screen magnifier a11y feature

[2022-01-28 23:05] Tyriar opened #541 "[bug] Menu text isn't using sub-pixel antialiasing"
Compare the left text to the right, at least on an LED monitor the sidebar is much more crisp and readable:

![image](https://user-images.githubusercontent.com/2193314/151633496-0b881003-4f3b-486b-a7d0-a6349eb30119.png)

The difference is more obvious when zoomed in:

![image](https://user-images.githubusercontent.com/2193314/151633516-cbce7d31-bd99-48ba-b2a3-5110f8974e32.png)
![image](https://use

[2022-01-28 23:06] #514 closed

[2022-01-29 11:35] steveruizok commented on #533
Really interesting idea. Want to mock up what you'd expect that to look like? I've considered adding links like that to tldraw, but I think what you're describing is a little different.

[2022-01-30 13:40] nutstick opened #543 "[bug] Unable to rename, delete page in vscode"
There's no response after clicking rename/delete page.

https://user-images.githubusercontent.com/11162782/151702038-182a9cb4-1b26-424d-bc5a-762d25ac2070.mov

I have tried it on the web version, it's worked fine. I suspect due to [prompt](https://github.com/tldraw/tldraw/blob/main/packages/tldraw/src/components/TopPanel/PageOptionsDialog/PageOptionsDialog.tsx) used in implementation but it doesn't

[2022-01-30 16:07] steveruizok commented on #532
Are you able to open the app at all? I think you may need to reset the local indexeddb. Totally agree that we should handle bad documents better!

[2022-01-30 21:41] steveruizok commented on #536
Good catch! Working on a fix.

[2022-01-31 06:24] anilgulecha opened #545 "[feature] Touch pressure based thickness"
Pls consider adding pressure based thickness support. Touch events can indicate the pressure on the drawing (which can be used to set the size of point/line/curve drawn).

Currently, I see that thickness is being set from the velocity of drawing. This can remain as backup in case pressure information isn't coming in.

Eg:
https://patrickhlauke.github.io/touch/tracker/tracker-force-pressure.html
ht

[2022-01-31 06:24] anilgulecha commented on #545
Some more resources:
https://github.com/stuyam/pressure
https://developer.mozilla.org/en-US/docs/Web/API/PointerEvent/pressure

[2022-01-31 09:34] steveruizok commented on #545
Heya, we do support pressure reported from pointer events. As a control, you could try your device pressure [here](https://perfect-freehand-example.vercel.app/)? If that works and tldraw doesn't, then we have a bug to fix!

[2022-01-31 09:34] steveruizok commented on #545
(We don't currently extract pressure data from TouchEvents, so if your browser is not sending pressure via PointerEvents, that could be the issue.)

[2022-01-31 09:36] steveruizok commented on #540
Huh, that should never be Windows, even on Windows—it should be Ctrl. We do recognize either `event.ctrlKey` or `event.metaKey` for these commands. What key is `metaKey` on Linux?

[2022-01-31 09:40] steveruizok commented on #540
The code in question is here:

[code]

I'm guessing we change that `cmd` to something else, but what would cover ctrl or cmd on Mac but only ctrl on Windows/Linux?

[2022-01-31 09:41] steveruizok commented on #536
Fixed!

[2022-01-31 09:41] #536 closed

[2022-01-31 09:43] steveruizok commented on #545
I was able to replicate this, so confirmed bug. 👍

[2022-01-31 13:05] Tyriar commented on #540
`cmd` ends up mapping to the windows key on Windows and Linux. You'll need to have platform overrides for this:

[code]

[2022-01-31 13:25] fdrc-gh opened #547 "[bug] sharing multiplayer room URL without browser UI on mobile"
Tldraw can be easy used as an iPad app just by adding a bookmark on the Home Screen from Safari. The browser interface is hidden and the webapp behaves like a dedicated app, which is great.
Unfortunately this makes also impossibile to share a multiplayer room URL, since the browser toolbar is missing. Maybe showing the multiplayer URL on the bottom of the window or adding a “copy url” menu option

[2022-01-31 19:28] nichitaa opened #549 "[bug] Not exporting png / jpg/ webp"
[New Document.zip](https://github.com/tldraw/tldraw/files/7973590/New.Document.zip)

In the zip is a small .tldr sketch with the issue.
This small drawing is not exporting to any of the png / jpg / webp formats.
I could only export it to json and svg but the text is too big where it is supposed to be smaller.

Could you please help me ?

Thanks

[2022-02-01 04:57] BRO3886 commented on #549
I'll check

[2022-02-01 05:13] BRO3886 commented on #543
Duplicate of #518 I think

[2022-02-01 05:14] BRO3886 commented on #543
Yes the issue is with prompt

[2022-02-01 08:11] gaikaz commented on #549
Having the same issue here. But took a little time now to make a "tldr" version of my buggy file.
[buggy.tldr.zip](https://github.com/tldraw/tldraw/files/7976798/buggy.tldr.zip)
Visually it only contains a rotated square with a text field inside. It wasn't me who made this little crasher, so I can't exactly say, how to reproduce it, but maybe it'll help anyway 🙂

[2022-02-01 08:13] gaikaz commented on #549
Forgot to mention! The bug has something to do with Grouping. If you ungroup the elements, it starts exporting.

[2022-02-01 08:39] sul4bh commented on #522
Can I work on this feature?

My thoughts so far are to provide a new `Export -> PNG (transparent)` option and then change the puppeteer based export api to set background color of various divs(.tl-container?) to transparent.

Another option is to allow a user to select a page background color including transparent.

Any preference? Thoughts?

[2022-02-01 10:36] thomasaull opened #550 "[feature] Paste image from clipboard"
The feature to import images/videos is really helpful, e.g. to annotate screenshots. To make it even better, in my case it would be really helpful to be able to paste an image from clipboard. I constantly take screenshots of an existing web app, load it into tldraw and put some annotations here and there. To be able to paste directly from clipboard would eliminate the steps of saving the screensho

[2022-02-01 15:40] DavidDNA commented on #519
The issue arises when pressing the hotkey ctrl+s directly after ctrl+z.

https://user-images.githubusercontent.com/14218920/151999620-3b84c71c-b556-414a-8c2d-4508190c1199.mp4

[2022-02-01 18:49] judicaelandria opened #552 "[bug] Bug when hovering the dropdown menu"
when hovering a menu in the dropdown menu then hovering another menu all the submenu is opened
![error menu](https://user-images.githubusercontent.com/46365844/152031748-21307386-bd9f-491a-8cd2-20abd5d0986c.PNG)

[2022-02-01 19:52] seflless commented on #519
Can't repro on macOS, so that's good. I'll dig up my Windows computer and give it a try there. Thanks for the repro video, that's VERY helpful and motivating.

[2022-02-01 20:28] DavidDNA commented on #519
I confirm it doesn't happen on macOS (both Safari & Chrome) but does on Windows (Chrome & Edge).

[2022-02-01 21:35] Francois-Laberge-Bose commented on #519
Ok, cool. I just tested on Windows and can repro this consistently on tldraw.com and in the extension.

@steveruizok this happening on the website too means it's not extension specific. You want to look at this?

[2022-02-01 21:42] DavidDNA commented on #519
I've opened a PR (#551) today which should fix it.

[2022-02-02 01:47] nutstick commented on #543
Oops, sorry I didn't see it already reported. Let me close this issue.

[2022-02-02 01:47] #543 closed

[2022-02-02 01:54] nutstick commented on #518
Probably can use `vscode.window.showInputBox` (https://code.visualstudio.com/api/references/vscode-api#InputBoxOptions) when we open in vscode instead.

[2022-02-02 02:43] devkev commented on #532
I can open the app, but the UI almost instantly is replaced by the error message.  I can indeed reset the storage for tldraw.com (which I assume will include the IndexedDB data), and I expect that will allow me to start fresh again on this device.  But first I wanted to get a copy of the data, so that I could at least get the uncorrupted pages.  I've eventually managed to do that, but it was inord

[2022-02-02 02:53] devkev opened #553 "[feature] Provide feedback when exception during opening file"
When an exception occurs during File -> Open (even something trivial like broken JSON), there is no feedback at all in the UI.  The only clue that something has gone wrong is the exception printed in the browser console.

[2022-02-02 14:52] Vadi opened #554 "[bug] app crashed reporting - application error"
After the crash -- refreshing page doesn't work. I had to open a new incognito window to continue. I guess when pressed Ctrl key and clicked on a line this happened. And, now tldraw.com never opens in the the window. Even with hard refresh. Very strange!

![image](https://user-images.githubusercontent.com/218148/152177074-d7dee3fa-e9be-4d76-a134-009de57d9ec9.png)

![image](https://user-images.gith

[2022-02-02 14:53] Vadi commented on #554
Looks like the exception is rethrown by nextjs and it presents this blank page.

https://nextjs.org/docs/messages/client-side-exception-occurred

[2022-02-02 16:01] davidXire commented on #549
I confirm, same here

[2022-02-02 18:04] Leone25 opened #555 "[feature] Make selection more "CAD like""
Hello

One small QoL thing I would like to suggest, in many CAD programs and other software when selecting an area making a selection starting from left to right makes a selection of only items fully surrounded while from right to left makes a selection of all items touched by the selection area, if possible it would be great for tldraw to have it . . .

Also small note, usually the left to right

[2022-02-02 18:53] harin49 commented on #540
can the cmd/windows key be replaced altogether by the alt/option key? works on all targeted platform OS I believe.

[2022-02-02 19:50] letshin opened #556 "[feature] Loadable savefiles (github/drive etc) through html to bypass menus"
Thanks for this neat app, just used the vscode integration and its pretty amazing. Question: Can there be a feature to a) Load a file from a link (github, onedrive shared link etc.) - probably difficult due to different APis and formatting but if it just works with github or GET that would be great, and 2) Incorporate this function as part of the URL that tells tldraw to load the file without havi

[2022-02-03 04:05] caseywatts opened #557 "[bug] iPhone Mini options bar cut off"
I noticed a UI bug and I thought you’d like to know about it! 😄

On my iPhone Mini, the bottom options bar gets cut off - the trash icon is partly off the page (see image). It very neatly fits!

1080px wide Is probably a safe lower bound to design based on

iPhone mini specs:
2340‑by‑1080-pixel resolution at 476 ppi
https://www.apple.com/iphone-13/specs/max

![BBD9E507-10D5-40F4-9B3B-06B2EF3FE99D]

[2022-02-03 16:36] awaer commented on #557
This also affects devices using text size adjustments for accessibility:

<img src="https://user-images.githubusercontent.com/10305/152385636-d0442d22-be56-46dc-9022-367cd16cbac5.PNG" width="31%"> <img src="https://user-images.githubusercontent.com/10305/152385651-6c34e554-b710-4b1b-ad00-b7a42089cd5b.PNG" width="31%"> <img src="https://user-images.githubusercontent.com/10305/152385658-1e1e64fb-b52

[2022-02-03 19:19] nx-jan-fischer commented on #538
Does also happen if you export as png.

[2022-02-04 14:33] seflless opened #559 "[bug] Meaning of 'Cancel' Confusing in New-Project/Open/etc Flows"
In cases where you are about to blow away the current working file, the dialog box buttons aren't what I'd expect.

Repro steps
 1. Go to https://tldraw.com/
 1. Create at least one shape (not sure this part is necessary, but bare with me)
 1. Open the top/left hamburger menu, select `File -> Open file`
 1. Dialog will pop up saying: `Do you want to save changes to your current project?` and `Canc

[2022-02-04 17:49] seflless opened #560 "[bug] Copy as SVG Keyboard Shortcut Broken"
When I do `Command+Shift+C` on macOS on the website (https://tldraw.com) at least, it doesn't copy SVG text to my clipboard.

[2022-02-04 23:14] andyvanosdale opened #562 "[feature] Resize Sticky objects"
As a user of Sticky objects, they can be very big when I'm trying to convey some sort of note with another object. It would be great if I could resize the Sticky object, that would make my diagram look much better.

[2022-02-06 14:12] steveruizok commented on #562
Hey, I was considering having them scale similar to how text shapes scale. Would that work for your case?

[2022-02-06 17:04] zhaoyao91 opened #563 "[feature] Saving project to cloud service"
Currently tldraw only exports projects as local files. How about supporting sync projects in cloud service such as github, google drive ... or tldraw's own service.

[2022-02-06 19:07] andyvanosdale commented on #562
Hey @steveruizok, I can see that working well. Since the Sticky Shape expands vertically to support more text, then being able to scale it like a Text Shape seems appropriate. Only other consideration is to allow for horizontal sizing to fit more text on one line.

[2022-02-06 19:16] andyvanosdale opened #564 "[feature] Copy into PNG"
As a user, it would be great to copy the diagram into a PNG without the need to export it. This would save me a lot of time of not having to screenshot or export to then send an image over an instant messaging application or to put into a document.

[2022-02-07 09:24] kuechlerm commented on #554
Hey, I have the same issue here. The main problem: the app cannot be reset. No reload, hard reload or clear cache action does help. What can I do now?

[2022-02-07 13:46] Vadi commented on #554
Posting the error. Screenshot doesn't help

[code]

[2022-02-07 13:49] Vadi commented on #554
No idea. Looks like `Clear site data` is the only way for now

[2022-02-08 16:52] BRO3886 commented on #549
Sorry could not get time to check earlier. It is an issue with the api in  `pages/api/export.ts`. I'm on it, will push a fix soon

[2022-02-09 06:26] no-1ne opened #569 "[feature] Lazer Pointer"
Thank You for tldraw, Being able to display a laser pointer with a trailing tail(or without tail based on preference)

[2022-02-10 07:45] sul4bh commented on #526
Can I take this?

My plan is to use https://stuk.github.io/jszip/ to bundle multiple images into one zip file both for frontend(svg) and backend(png) based exports.

[2022-02-10 08:23] steveruizok commented on #569
Sounds interesting! We could probably use perfect-freehand for this too, maybe with a tapered end.

Can you think of any example apps that have this feature and do it well?

[2022-02-10 08:24] steveruizok commented on #564
I think we could do that pretty easily. @FarazzShaikh thoughts?

[2022-02-10 09:51] no-1ne commented on #569
Google Slides has a good one. https://youtu.be/FB62mXDnHXo?t=66

![download (1)](https://user-images.githubusercontent.com/11027129/153381628-d754ccf8-bb4d-450e-ac9c-6400f256d581.gif)

[2022-02-10 12:59] FarazzShaikh commented on #564
yep I can take care of this one the weekend!

[2022-02-12 06:46] AgapovOne opened #572 "[feature] Help panel"
To learn all the available shortucts it would be cool to have some kind of a floating window somewhere on a canvas.
For example, it can be shown with:
- Toggles shown/hidden via hotkey
- Toggles shown/hidden via tap on some icon/menu item
- Toggles always shown inside a window with some `stick` button.

A good example for me is Bear app. Sometimes I forget all the hotkeys and all I need is just op

[2022-02-12 15:41] steveruizok commented on #563
I think we'll support cloud saves as part of a "logged in" experience in the future. Are you thinking of something similar to Draw.io?

[2022-02-12 18:12] eswarclynn commented on #560
The issue seems to be due to no hotkey attached for `⌘+shift+c,ctrl+shift+c` in `useKeyboardShortcuts.tsx`. Could create a PR to add it, if that's the case.

[2022-02-12 20:33] seflless commented on #560
@eswarclynn Yes please!

[2022-02-13 12:37] #560 closed

[2022-02-13 12:37] steveruizok commented on #560
Fixed! Thanks to @eswarclynn.

[2022-02-14 16:38] zhaoyao91 commented on #563
@steveruizok no, `logged in` is very good for me, :) look forward to it.

[2022-02-15 10:50] Proful commented on #572
This is very good suggestion.

[2022-02-15 10:52] Proful commented on #569
I too like this feature. It is very good for creating Youtube video or during presentation.

[2022-02-15 16:40] lichin-lin opened #578 "[bug] Too many cursor show up in Multiplayer mode."
First of all, thanks for making the multiplayer feature, it works in most cases!

Here is one bug I found: If you try to refresh a tab **with an element selected**, somehow the `removeuser` function in `useMultiplayerState.ts` will not be triggered, so in other user's views, they will see more and more cursors show up (but actually, they all indicate the same user.)

I am not sure if this has to d

[2022-02-15 18:42] andyvanosdale opened #579 "[bug] Rotated text does not align correctly when exported"
When I rotate a text shape, it does not stay in the spot that it shows in the UI.

Repro: https://www.tldraw.com/r/1644950310920

UI:
![image](https://user-images.githubusercontent.com/2337208/154127711-24473593-f6c6-4022-bcf7-d0eae23f34bc.png)

Exported JPEG (PNG shows the same thing):
![Page 1](https://user-images.githubusercontent.com/2337208/154127750-0ad1c0cd-4a6a-44bf-a3ed-ce283448a55f.jpeg)

[2022-02-15 19:24] aral commented on #522
@sul4bh The ability to easily set a custom background colour would be very interesting for streamers (as they could green screen their drawings) ;)

[2022-02-15 22:51] nimeshnayaju opened #580 "[bug] Text tool doesn't work correctly"
https://user-images.githubusercontent.com/35807215/154163127-c46e3b3a-8927-4fb2-9148-fe8815c2ba43.mp4

[2022-02-16 16:23] dpschen opened #583 "[bug] Close popover when clicking trigger button again"
# Steps to reproduce

1) Open a popover e.g. click once on the menu icon in the top left
2) Don' move you cursor but instead click once again

# Expected outcome

Popover closes

# Actual outcome

Popover closes shortly and then opens again.

-----------

This can also be reproduced by opening one of the tool selection popovers.

[2022-02-16 18:15] seflless opened #584 "[bug] Pan/Zoom Performance Issues (2017 Macbook Pro)"
Panning and zooming are chugging, stuttering, seemingly low frame-rate. and perhaps have high input latency. Here's a video:

https://user-images.githubusercontent.com/1845/154329486-06b834ce-4b7d-4c26-b674-74ec1a64b0b9.mov

**Computer Specs**
![Screen Shot 2022-02-16 at 1 14 48 PM](https://user-images.githubusercontent.com/1845/154329420-7cd888ae-3d9f-4cae-85d7-36046c5c45dd.png)

Was using Chrome

[2022-02-17 19:27] nimeshnayaju commented on #580
Seems to be fixed on my end too. Not sure why that happened. Closing the issue for now

[2022-02-17 19:27] #580 closed

[2022-02-18 17:48] seflless opened #587 "[bug] SVG Disappears in Large Files When Zooming Out"
This may be a browser bug. I'm using Chrome on a mac. But I wanted to capture it in case it's helpful. Watch the video where you'll notice that drawings or shapes that have the dotted lines (circle ones) disappear at a distance.

https://user-images.githubusercontent.com/1845/154735350-a5e32b07-12c6-4092-a674-e0650b75262b.mov

[2022-02-19 03:40] Limezy opened #588 "[bug] Emoji appear as black rectangle when exporting"
**Screenshot view :**
![image](https://user-images.githubusercontent.com/24638389/154784677-5f9d02f1-8b41-4266-9bd6-e3bdb603241e.png)

**Export view :**
![2-ensemble (1)](https://user-images.githubusercontent.com/24638389/154784659-9d9045e3-1e6f-4c0c-ac5d-4e99ea16880e.png)

Thanks for this awsome project !

[2022-02-21 06:22] hengsok opened #591 "[bug] Serious bug on detected on iOS with text selection that cause whole canvas unusable"
When we insert a Sticky Note onto the canvas, then we write some text. After that, we double tap into the Sticky Note, we will see Text Selection cursors. When we drag on either side of the cursor and release. The canvas seem to stucked with the zooming feature activated forever. Even we switch to Pencil to draw, it still zooms. Switch to shape, it still zooms. We basically cannot do anything furt

[2022-02-21 12:09] hadihallak opened #593 "[bug] Undo reopens last closed tab on Safari"
Undo hotkey also reopens the last closed tab on Safari
------------------
OS: MacOS Monterey
Browser: Safari 15.3

[2022-02-21 15:55] steveruizok commented on #591
Confirmed, I can replicate it!

[2022-02-21 15:56] steveruizok commented on #587
I've seen this too. May just be an SVG issue with scaling, not sure how to help it.

[2022-02-21 15:56] steveruizok commented on #588
Thanks for the issue! @Soyn's made some good progress here.

[2022-02-21 15:57] steveruizok commented on #579
Thanks for the issue, I believe this should be addressed by @seflless's work with SVG text.

[2022-02-21 16:51] cangoektas commented on #554
I also ran into this issue, but I was able to export my app state after resizing the viewport to be very narrow. Now, I can consistently reproduce the crash using this export: https://gist.github.com/cangoektas/4a84e2d48f6e2551b8b3a632ae1b4f71

[2022-02-24 21:44] #540 closed

[2022-02-25 16:45] tomredman opened #596 "[bug] Error opening .tldr file: A mutation operation was attempted on a database that did not allow mutations""

[2022-02-28 04:19] RedgarTech opened #598 "[bug] [feature] When deploying on Heroku, I had faced an issue with deployment. It had trouble compiling. Has anyone successfully deployed this web app?"

[2022-02-28 10:23] Soyn commented on #554
@cangoektas I test the file you post. And notice the [7d201b4e-3bc9-4283-342d-0cacd44c81ae](https://gist.github.com/cangoektas/4a84e2d48f6e2551b8b3a632ae1b4f71#file-foo-tldr-L1326)'s child ->`75f3a050-578f-4fba-143f-738a09b07347` is not in current page shapes, which makes the app crash.

[2022-02-28 22:29] Nivge opened #600 "[bug] Bug description"
Saving in Ipad doesn't seem to work. It just opens the json in the browser.

[2022-03-01 03:03] parties opened #601 "[bug] HTMLContainer doesn't trigger hover and select events"
First I just want to say: fantastic work on this project, thank you for making it open source! 🙌

### Description

I've created an HTMLContainer component (`Node`), and it appears that the hover event isn't triggering for `onPointerEnter` (selection also seems bugged, could be related).

#### Reproduction
CodeSandbox: https://codesandbox.io/s/fancy-shadow-rsjx2r

Use the triangle alert icon to dra

[2022-03-02 23:30] andyvanosdale opened #602 "[feature] Stop the Dots"
When folks seem to use tldraw for the first time creating rectangles, they click and release, which creates a dot. That dot then is essentially useless and usually is deleted. It would be great for there to be a way to prevent these dots in the first place.

[2022-03-04 15:39] cgrobb opened #604 "[bug] copying images from a single player doc to a multiplayer doc doesn't work in certain image combinations"
When a .tldr created and exported using tldraw.com has 2+ images where at least 1 image is incorporated via drag and drop and at least 1 image created via File...>Media Upload, the image incorporated via File...>Media Upload does not display correctly when pasted  (from tldraw.com) into and shared in a tldraw.com/r/* (aka multiplayer) doc.

Yeah, that's pretty specific, but I hit this issue just t

[2022-03-05 20:32] Stubatiger commented on #562
Hey, is there any update on this?

For me this would be absolutely a +1

Love working with tldraw, butlonger notes look silly sometimes in the small sticky object :D

[2022-03-07 19:53] GrumpyLabRat opened #605 "[bug] VS Code Extension Does Not Include Export Options"
The current VS Code extension (1.8.1) appears to be missing the Right Click > Export > PNG, etc. capability found in the browser version.

[2022-03-07 20:03] cgdougm opened #606 "[bug] Bounding rectangle Shrinking Bug with Monospace Text objects when reopening browser"
### Reproduce
* create a one-line text object in Monospace font (the fourth choice)
* close the tldraw browser tab
* re-open tldraw

### Unexpected results
* The text's rectangle becomes slightly smaller in X, so the last character(s) are moved to the next line.

![image](https://user-images.githubusercontent.com/1143761/157109160-28c7f3c1-2ddc-49cd-b898-2a052348c666.png)

### Comment
I guess the

[2022-03-08 00:40] Limezy opened #607 "[bug] Page list should be scrollable"
Depending on your screen size, once you reach a certain number of pages, the list becomes unusable !

<img width="1019" alt="image" src="https://user-images.githubusercontent.com/24638389/157142613-99d4b88c-34af-4996-849f-c17fe86b9e50.png">

[2022-03-09 01:37] cgdougm commented on #606
I have tested this more and I see what may be the problem:
The bounding rectangle that is saved is for the third font, not the current font.
You can see this if you:

- use the first font (very condensed compared to others)
- close browser (forcing the save)
- re-open browser
...you will see that the rectangle is much longer than the first-font text.
- switch to the third font
...you will see NO c

[2022-03-09 10:19] steveruizok commented on #605
Good catch, adding here: https://github.com/tldraw/tldraw/pull/608

[2022-03-09 10:25] #555 closed

[2022-03-09 11:31] steveruizok commented on #606
I'll chase this now, thanks!

[2022-03-09 12:32] steveruizok commented on #605
Fixed! Will push a new version today.

[2022-03-09 12:32] #605 closed

[2022-03-09 12:33] steveruizok commented on #601
Closing this, it's the intended behavior!

See my reply here: https://github.com/tldraw/tldraw/pull/603#issuecomment-1062713040

Short story: you need to "opt in" to pointer events by setting `pointer-events` on a shape's elements.

[2022-03-09 12:33] #601 closed

[2022-03-09 12:35] steveruizok commented on #604
Thanks for the issue. This is going to take some work to fix!

I believe we already include serialized assets in clipboard content, however we'll need to recognize these when multiplayer is enabled, check to see whether we already have uploaded the asset, and if not upload a new one to the server.

[2022-03-09 12:37] steveruizok commented on #602
Makes sense! We could call that cancel from the `complete` method of the transform session (used when creating).

[2022-03-09 12:48] steveruizok commented on #606
Fixed!

[2022-03-09 12:48] #606 closed

[2022-03-09 12:48] steveruizok commented on #598
What was the bug?

[2022-03-09 12:49] steveruizok commented on #596
Is this in Firefox?

[2022-03-09 13:04] #602 closed

[2022-03-09 13:16] steveruizok commented on #607
Fixed!

[2022-03-09 13:16] #607 closed

[2022-03-09 13:20] steveruizok commented on #557
I think we need a new breakpoint for "very small screens". We should be able to shrink some of those buttons on tiny devices.

[2022-03-09 20:05] GrumpyLabRat commented on #605
Awesome!  Thanks for the speedy fix!  Love this little tool! From: Steve Ruiz ***@***.***>Date: Wednesday, March 9, 2022 at 7:32 AMTo: tldraw/tldraw ***@***.***>Cc: GrumpyLabRat ***@***.***>, Author ***@***.***>Subject: Re: [tldraw/tldraw] [bug] VS Code Extension Does Not Include Export Options (Issue #605)Closed #605.—Reply to this email directly, view it on GitHub, or unsubscribe.Triage notifica

[2022-03-09 20:51] cgrobb commented on #604
Thanks!

Perhaps now's the time to spec the UI and deeper work where shared and remote tldr projects appear user-seamless where say a single UI toggle automagically makes a tldr.com project sharable or private to you (and conversely)?

[2022-03-10 05:05] judicaelandria commented on #596
no it's not, firefox works fine

[2022-03-10 05:09] #552 closed

[2022-03-10 07:08] Limezy commented on #607
Great, thanks !

[2022-03-10 19:19] steveruizok opened #616 "[bug] Grouping a shape will remove its bindings."
Steps to reproduce:

1. Create three shapes (A, B, C).
2. Draw an arrow that connects A and B.
3. Select B and C and group them.

The binding between A and B will be lost. Moving the group will not cause the arrow to update.

[2022-03-11 00:09] tacomanator opened #618 "[bug] Export does not display Japanese characters"
Great work on this app! I'm testing it out, and found issues when exporting drawings with Japanese text.

PNG and JPG don't display the Japanese characters. Presumably the fonts in tldraw do not include Japanese (and probably Chinese). Typically fallback fonts are used to render unsupported characters, but I don't know how the mechanics of how this happens. I tried all four of the fonts available,

[2022-03-11 09:52] johnatannvmd opened #619 "[bug] Strange behavior on moving around locked block"
https://user-images.githubusercontent.com/4918448/157843426-888cb48e-6cdd-40f5-be84-56b1fb22567b.mp4

[2022-03-14 08:04] meimosor opened #620 "[feature] Integrate with EtherPad"
tldraw is a great drawing project. If can integrate into the etherpad like WBO, it will be a great feeling.

reference: https://github.com/lovasoa/whitebophir/wiki/WBO-Jitsi-integration
![image](https://user-images.githubusercontent.com/31975932/158129898-7c5ea727-118b-4ae7-adb7-cd31c8d37980.png)

[2022-03-14 19:47] virajduvedi opened #621 "Auto-Write to iCloud / G-Drive / Dropbox"
Saving to local keeps files safe.
But today I just lost an entire project because my computer didn't throw the native UI to save a document.

Saving in real time to iCloud / G-Drive / Dropbox etc. could be extremely valuable to not lose work progress.

[2022-03-17 16:25] igoyetche opened #624 "Application error: a client-side exception has occurred (see the browser console for more information)."
I was using the app in Chrome and after doing a change the app crashed and now I can't access any of the Diagrams I had.

![image](https://user-images.githubusercontent.com/6946311/158846973-f2d11be5-e3ba-478d-adec-1027d4a6d20a.png)

The messages I have in the console:
![image](https://user-images.githubusercontent.com/6946311/158847094-0a61f7f1-9253-4594-808b-20ee0e22de34.png)

[2022-03-18 07:06] steveruizok commented on #624
Hi @igoyetche, could you try reloading the page? It should recover.

[2022-03-18 07:06] steveruizok commented on #616
Fixed!

[2022-03-18 07:06] #616 closed

[2022-03-18 07:07] steveruizok commented on #624
...if not, could you DM me on the Discord channel?

[2022-03-18 09:01] not-matthias commented on #621
I'd love such a feature.

[2022-03-18 14:20] igoyetche commented on #624
I already reloaded the page many times and still the same issue.

[2022-03-20 07:58] #285 closed

[2022-03-20 11:40] jeroenv opened #625 "[feature] Constraints to restrict dragging of shapes inside renderer"
Would be nice if there was a way to restrict the dragging area of a certain shape inside the Renderer component.

For example, you could this library to create a label designer where you have a limited drawing space where you can add shapes and drag shapes around in. In the screenshot below you it should in the ideal case only be possible to drag the shape in the constraints of the illustrated red

[2022-03-20 11:43] ayushagg31 commented on #572
I would love to work on this feature request, if team is interested to add this.

[2022-03-21 22:43] gcoch commented on #624
Same issue here.
![Screen Shot 2022-03-21 at 6 32 15 PM](https://user-images.githubusercontent.com/4117604/159375107-cc7f3455-656d-43b5-ae7b-0637e5982f13.png)

[2022-03-22 10:58] guettli commented on #550
I would even pay for this feature! For me pasting images is enough (I don't paste videos).

[2022-03-22 12:19] thomasaull commented on #550
@guettli https://github.com/sponsors/steveruizok?frequency=recurring&sponsor=steveruizok ;-)

[2022-03-23 14:35] guettli commented on #550
Thanks for the hint, I am sponsoring this project now. I hope pasting screenshots from the clipboard will be supported soon.

[2022-03-24 09:24] steveruizok commented on #624
Working on it!

[2022-03-25 17:06] johschmitz opened #630 "[feature] Option to switch between white and transparent background on export"
Could you add an option to the export to switch between a white or a transparent background during export? Both are useful depending on where the drawing should be used. I had to load the file into GIMP and add a white background which was quite a lot of unnecessary extra work.
Other than that I have to say nice project :+1:

[2022-03-25 17:13] johschmitz opened #631 "[feature] Export to URL, shareable link"
Your "competitor" excalidraw has a feature called `Shareable link` which encodes the whole drawing into a shareable link. Could the same be done with a tldraw drawing?

[2022-03-30 20:30] a-type commented on #578
If you're using Liveblocks I'd recommend this improvement we made in our app vs the example code for tracking active users:

[code]

Assuming you're storing TLDraw user data directly in Liveblocks presence, `presence.id` will be the TLDraw user ID.

By listening explicitly for Liveblocks user leave events, which are delivered reliably, you can drop the `beforeunload` handlers and the use of broadc

[2022-03-30 21:29] a-type opened #633 "[bug] The ID passed to onAssetCreate is not the same as onAssetDelete"
When a file is added to the canvas, an ID string is passed to the second parameter. I get the idea is to let you upload the file to external storage and perhaps create a row in the database to track its existence based on the ID so you have a record of uploaded files and their state.

When an image or video is deleted, the `onAssetDelete` handler is called - but the ID passed is not the same as th

[2022-03-31 13:16] #624 closed

[2022-03-31 13:18] steveruizok commented on #633
Want to take a crack at this Grant @a-type? As long as it's behavior for new assets, I can't imagine it would cause any regressions.

[2022-03-31 13:19] steveruizok commented on #631
This would be a serialized URL, or a multiplayer room? If the latter, then it could dovetail with the "copy to multiplayer document" feature that has been floating around.

[2022-03-31 13:23] a-type commented on #633
Would be happy to help, should have a PR up soon.

[2022-03-31 14:09] a-type commented on #633
Ok, here's the snag (based on my understanding of the code) -

Currently the code relies on `onAssetCreate` to process and store a file if it is provided. It expects to receive back a URL for that file. At this point we need `assetId` to be defined and stable - basically first thing.

But after that block, when the file is processed to a source string (URL or base64), the code checks for an existi

[2022-03-31 14:23] a-type commented on #633
I've got a regression test written awaiting whatever fix we decide on. Unfortunately I can't seem to get the repo to build on Windows, seems like the `lask` CLI might be spawning processes incorrectly, but I can't find the source code for it to debug further. I'll try cloning in WSL when I have some time to resume work on this.

[2022-03-31 14:28] a-type commented on #633
I've got a regression test written awaiting whatever fix we decide on. Unfortunately I can't seem to get the repo to build on Windows, seems like the lask CLI might be spawning processes incorrectly, but I can't find the source code for it to debug further. I'll try cloning in WSL when I have some time to resume work on this.

[code]

[2022-03-31 18:06] johschmitz commented on #631
From what I understand a serialized URL. I don't know the other feature.

[2022-04-01 12:10] fabianmu opened #634 "[bug] Assets are not appearing in image exports when in multiplayer mode"
Exporting to image in Multiplayer does not wait for assets to finish loading.

Here you see tldraw in a multiplayer session and 3 versions of exported images. The result varies. The drawing is always exported, but the 2 images on the canvas (person and gradient) are only, if at all, partially loaded.
![Screen_Shot_2022-04-01_at_12 34 52](https://user-images.githubusercontent.com/89517/161260529-cb

[2022-04-04 19:04] fire17 opened #636 "[feature] Share Button [easy]"
Hi there !
first of all let me just say
i immediately fell in love with tldraw

One feature that i'll think will be great , is to have a simple share button
that generates a tldraw link that i can send to someone
(it should open a duplicate of the current sketch in multiplayer mode)
currently the only option i see is export, which doesn't lead back to any interactive interface

my current workarou

[2022-04-07 04:17] a-b-n-e-o opened #640 "[bug] Failed to build on windows"
```yarn start```
gives:
[code]

It looks like that it couldn't find tsc, but I did install it.
[code]

[2022-04-07 04:39] a-b-n-e-o commented on #640
replacing ```import_child_process.spawn``` with ```import_child_process.exec``` in lask module fixed the problem.

It may have something to do with spawning with and without shell and the env variables.

[2022-04-07 04:39] #640 closed

[2022-04-08 07:31] alongite commented on #341
have the same issue. any update?

[2022-04-13 09:32] Aienao commented on #520
hey,can you tell me how to deploy to vercel?thanks!

[2022-04-16 02:58] yevhenii-kas-oppizi opened #642 "[bug] Hovering on groups"
When hovering on groups, it works sometimes strange.
Sometimes group not highlighted as hovered, I think it's because onOnhoverShape event call when it shouldn't

https://user-images.githubusercontent.com/93513279/163658900-a4d3690a-4bb0-4c70-8345-4ccb4ba46ea4.mp4

[2022-04-16 11:00] mrkldshv commented on #593
I've tried to prevent default event handling and it seems to solve it. Is it safe to use `event.preventDefault()` here? I'd be happy to open PR if it's acceptable solution!

[2022-04-16 21:55] ericsia opened #644 "Add color swatch on the side directly"
I love this extension a lot, it is so good. Now I don't need to open another app to draw, but......
When I am performing a demo to explain what is happening to my students, I need to use a different color for them to easier identify what is happening. But it is very difficult for me to switch colour. So here is my suggestion, are you able to add a color switch right here below, I provided 16 color

[2022-04-19 07:25] Lovettek opened #645 "[bug] Bug description"

[2022-04-19 10:25] no-1ne opened #648 "reduce bundle size"
Bundle Phobia shows radix-ui/icons taking almost as much size and tldraw library. after tree shaking i hope it doesnt take up as much space or is there a scope of improvement here may be make the  icons self contained
https://bundlephobia.com/package/@tldraw/tldraw@1.10.0

![image](https://user-images.githubusercontent.com/11027129/163984079-19dd65cf-cecf-4994-bfa2-879ff4cd75a6.png)

[2022-04-19 16:59] trusz opened #649 "[feature] VSCode Plugin: Export without an external service"
Hi there!

Is there any way to use the VS Code plugin without depending on an external service for the export function?
Lot of times we cannot use external services and the plugin already does a great work of working offline. I have looked into the "Copy as SVG" option, but it seems buggy.

Could one help in any way?

[2022-04-20 19:03] judicaelandria commented on #644
hi @ericsia, you're in the wrong project, this is tldraw not excalidraw

[2022-04-21 00:52] clbarrell commented on #630
The alternative I used when I have to is to just take a screenshot instead of exporting the selection.

[2022-04-21 06:04] ericsia commented on #644
I am aware of that, simce the screenshot able to express my thought, so I use that screenshot.

Can you help to add a color swatch panel in next update please please please please please

[2022-04-21 13:02] judicaelandria commented on #642
could you test it again? because seems like it's fixed

[2022-04-21 19:33] yevhenii-kas-oppizi commented on #642
https://user-images.githubusercontent.com/93513279/164538889-fec8c993-124d-44a1-9b95-c770cc0ecd2f.mp4

Just tested again, no changes. It happens when move cursor slowly

[2022-04-22 10:42] worldoptimizer opened #652 "[bug] Getting Protocol error on Exports"
A file with image extension is downloaded containing the following String
`{"message":"Protocol error (Page.captureScreenshot): Target closed."}`

[2022-04-24 15:40] judicaelandria commented on #652
what format did you use for the export?

[2022-04-24 15:53] judicaelandria commented on #649
Hi @trusz, thanks for your feedback! what's the issue you're facing with a copy as SVG? and could you please give some details about using external services? thanks

[2022-04-24 21:31] trusz commented on #649
Hi @judicaelandria, thank you for answering so quick.

I'll describe first the problems with the SVG Export. Let me know if you want me to open a separate bug.

## Bugs

### Bug 1

The SVG works fine if you export it in the light mode.

Screen shot of the TLDRaw in VSCode in light mode:
<img width="1264" alt="page1-light" src="https://user-images.githubusercontent.com/1510715/164989629-fdabd3cc-c3

[2022-04-25 05:08] judicaelandria commented on #649
interesting will investigate! thanks for this great explanatation

[2022-04-25 16:09] steveruizok commented on #648
I believe esbuild (which we use to build the app) does not do complete tree-shaking, which probably explains the size. We do use quite a lot of icons, however—I remember once manually extracting just the ones that we use, and it produced very little change.

[2022-04-25 18:34] seflless opened #656 "[bug] Copy/Cut/Paste for Text shape not working"
**Repro steps**
 1. Run/install the Tldraw VS Code extension
 2. Create a Text element
 3. Start editing the text
 4. Try copying, cutting, or pasting shortcuts, none will work
 5. Stickynote text editing works fine though.

There was an issue with this that was fixed in the past: https://github.com/tldraw/tldraw/pull/399. The sticky notes still work, looks like there was some refactoring to the T

[2022-04-26 07:21] KristoferHansson opened #657 "[bug] Empty window when opening existing or creating new tldraw in VSCode with v1.10"
Running VSCode 1.66.2 with tldraw extension 1.10

After upgrading to 1.10 none of the existing .tldraw files render and the command "tldraw: New file" just renders a empty black window.
Taking a look at the developer tools output gives me the following every time i create or open a tldraw file:
index.js:5063 ReferenceError: React is not defined
...
index.js:39038 Uncaught ReferenceError: React is

[2022-04-26 17:53] #657 closed

[2022-04-27 13:55] #528 closed

[2022-04-29 08:14] steveruizok commented on #657
Thanks for raising the issue @KristoferHansson !

[2022-04-29 08:15] steveruizok commented on #652
I believe this was due to a bug introduced by #653. Let me know if it isn't fixed!

[2022-04-29 08:20] steveruizok commented on #636
This should be possible now with the liveblocks API (it wasn't when I wrote our multiplayer integration).

[2022-04-29 08:20] steveruizok commented on #630
I believe exporting to PNG will make an image with a transparent background. Agreed that this would be a great feature to build some UI around!

[2022-04-30 07:15] pengx17 opened #661 "[bug] Pointer position is incorrect if Tldraw is drawing in a scrolling container"
Please see this minimum repro https://stackblitz.com/edit/vitejs-vite-tspw4n?file=src%2FApp.jsx&terminal=dev

I guess the issue is that the `getPoint` function in https://github.com/tldraw/tldraw/blob/4aa8547a8e856dc40db2ddbc48161fbf7d675b42/packages/core/src/inputs.ts#L385-L390 does not take scroll container into consideration.

https://user-images.githubusercontent.com/584378/166095974-ac5ff9be-

[2022-04-30 13:54] steveruizok commented on #661
That's a good catch: I would have expected the resize observer to pick that up.

[2022-05-03 22:29] colinfwren opened #663 "[bug] Multi-touch input on iPad when draw & pencil behaviour"
Steps to reproduce
- Load app.tldraw.dev on iPad (15.3.1)
- Select draw or pencil tool
- Place two or more fingers on the canvas and drag (needs to be down for four or more fingers to counteract iOS' inbuilt gesture)

Expected Results
- Panning behaviour as with when mouse is scrolled on desktop

Actual Result
- A line is drawn rapidly between the finger points

Evidence
I had to rely on assistive

[2022-05-03 22:44] colinfwren opened #664 "[bug] Performance impact when creating complex line using Draw or Pencil"
# Steps to reproduce:
- Load app.tldraw.dev on iPad (15.3.1)
- Use finger or Apple Pencil to draw a complex line with loads of points in it (e.g. rapid close back and forth similar to shading with a pencil)
- Once you've got a high level of complexity stop drawing the line (if it hasn't already given up) and draw a new line

# Expected results
- The line continues to be drawn without any impact fo

[2022-05-03 23:01] colinfwren opened #665 "[bug] Pinch zoom on iPad is too erratic"
# Steps to reproduce
- Load up app.tldraw.dev on iPad (15.3.1)
- Create some marks on the canvas (in order to guage the zoom level)
- Activate the select tool (draw / pencil tools cause #663 )
- Use two finger pinch to zoom in and out of the canvas

# Expected result
- The pinch zoom is dampened enough that the user is able to accurately control the zoom level in order to get the position they wan

[2022-05-03 23:07] colinfwren opened #666 "[feature] Apple Pencil Support on iPad"
Woe to you, oh earth and sea
For the Devil sends the feature with wrath
Because he knows the time is short
Let him who hath understanding reckon the number of the feature
For it is a human number
Its number is six hundred and sixty-six

While it's technically feasible to use the Apple Pencil to draw on the canvas things like palm rejection and pressure sensitivity aren't present, this makes it har

[2022-05-06 03:14] pengx17 commented on #661
Hi @steveruizok , are you willing accepting a PR to fix this issue? If yes, I will take some time this week :D.

[2022-05-06 07:29] steveruizok commented on #666
Oh pressure isn't working? It should be, if not then it's a bug.

Palm rejection in Safari is a bit more complicated, the solution is normally to have a "pen mode" where if a stylus is detected, then the app only accepts inputs from the pen until the user makes a manual change.

[2022-05-07 18:53] colinfwren commented on #666
I'll run some more tests but I didn't notice any difference in line thickness based on the pressure, only the velocity of the stroke

[2022-05-07 21:29] colinfwren commented on #666
Did a bit more testing on this. So looks like Pencil does support pressure but Draw does not.

https://user-images.githubusercontent.com/182613/167272276-44ae721d-c4fe-4015-92d9-cfe75f2f70df.mp4

[2022-05-07 21:34] colinfwren commented on #666
Looks like on Safari there's a `touchType` property on the touch event that can be used to detect if the input if from the Apple Pencil or not.

Using that maybe combined with a context menu to enable Apple Pencil mode would probably make for a nicer drawing experience for iPad users as I've also noticed that hard pressure on the canvas can also result in the text on the zoom menu in the top left

[2022-05-09 13:06] Numeross opened #668 "[feature] Where could I put my liveblock public key"
in guide/development.md this is written :

**Note:** The multiplayer examples and endpoints currently require an API key from [Liveblocks](https://liveblocks.io/), however the storage services that are used in tldraw are currently in alpha and (as of November 2021) not accessible to the general public. You won't be able to authenticate and run these parts of the project.

Is it still true ? Now th

[2022-05-09 13:15] #668 closed

[2022-05-10 20:23] trusz commented on #649
Hi!
The following tweet's proposition seems to be a possible solution to this problem. Or did I miss something?

https://twitter.com/steveruizok/status/1523989134938882048?s=21&t=bYPcLnN8b8fnnMLva7mukg

[2022-05-11 19:36] steveruizok opened #677 "[feature] `hideCursors` prop"
Add a prop to hide cursors in multiplayer documents.

[2022-05-12 07:10] trusz commented on #649
Congrats on the new feature: https://twitter.com/tldraw/status/1524423222720180226?s=20&t=2pAfZSmW1qCURCVtgErUSA
👍
I think we could close this issue, but I believe the bugs are still there.
@judicaelandria , would you like me to open two bug issues for them?

[2022-05-12 07:40] judicaelandria commented on #649
hmm, export in light mode is working,
dark mode doesn't,
for the fonts, I'm not sure (maybe it's about the path that should be relative) cc @steveruizok

[2022-05-12 07:43] steveruizok commented on #649
This should now all be possible!

[2022-05-12 07:47] judicaelandria commented on #649
when exporting svg on dark mode and filled box, there's a bug
![New Page (1)](https://user-images.githubusercontent.com/46365844/168019083-c33f5964-4803-4f1c-b0ec-9e7008890764.svg)

[2022-05-12 08:02] smpleader opened #678 "[bug] Source error when try with the latest branch Main"
I pulled repo today. And:
- yarn install
- yarn build:www, show error:

`@tldraw/www:build:www: Failed to compile.`
`@tldraw/www:build:www: `
`@tldraw/www:build:www: ./pages/_app.tsx:56:8`
`@tldraw/www:build:www: Type error: 'Component' cannot be used as a JSX component.`
`@tldraw/www:build:www:   Its element type 'ReactElement<any, any> | Component<{}, any, any>' is not a valid JSX element.`
`@tl

[2022-05-12 16:06] rosatiara opened #679 "[bug] Pasting elements error"
Hi, I encountered an error every time I try to paste all the elements—either it's text, shape, line, or sticky note. I've allowed the clipboard read access permission on my browser (Microsoft Edge Version 101.0.1210.39) as well but it still doesn't work.

Here's the screenshot:

![image](https://user-images.githubusercontent.com/73390525/168116981-9abb4e83-aead-47b3-83f0-652aad57554b.png)

Circle

[2022-05-13 14:55] yevhenii-kas-oppizi opened #681 "[bug] Double scroll acction"
For both Mac and Win, it makes “double-action” when a single little scroll of the wheel is made. Basically double scroll. Same thing for pad zoom

https://user-images.githubusercontent.com/93513279/168310481-07614496-e5b2-4df7-9be1-970555a91110.mov

.

[2022-05-14 09:59] steveruizok commented on #679
Should be fixed by https://github.com/tldraw/tldraw/pull/682!

[2022-05-14 09:59] #679 closed

[2022-05-14 10:02] steveruizok commented on #678
I believe this is a bug in React's TypeScript types. Could you nuke node_modules and re-install?

[2022-05-14 10:07] steveruizok commented on #681
This happens when zooming with a mouse wheel, right?

[2022-05-14 10:45] steveruizok commented on #656
Closed by #683 ! Thanks @seflless

[2022-05-14 10:45] #656 closed

[2022-05-14 10:46] steveruizok commented on #649
All fixed now! Thanks for the push @trusz.

[2022-05-14 10:46] #649 closed

[2022-05-14 11:04] #652 closed

[2022-05-15 09:55] steveruizok commented on #633
Hm, that looks like it would be an issue here?

[code]

[2022-05-15 15:03] alexsch01 opened #688 "[bug] Zooming in or out *with touch screen* makes it reset to 10% zoom level"
I recently noticed this (either yesterday or the day before that), hope it gets fixed soon.
Love this app

[2022-05-15 19:03] alexsch01 commented on #688
https://user-images.githubusercontent.com/5721147/168489569-2776541d-45a3-4333-9d5c-a43020dc1d3c.mp4

[2022-05-15 21:02] yevhenii-kas-oppizi commented on #681
Both, with mouse and with trackpad

[2022-05-16 14:41] umarhadi opened #689 "[bug] deploy to vercel"
Hi! I recently deploying tldraw to vercel but is failed, root directory that i deploy is `apps/www`.

here's the logs:

[code]
thank you!

[2022-05-16 15:46] judicaelandria commented on #689
nextauth is disabling linting using the rule @typescript-eslint/ban-ts-comment,
and vercel can't find it, you can disable the eslint rules tho in the [next config](https://nextjs.org/docs/basic-features/eslint#disabling-rules)
but I'm curious why do you want to deploy the tldraw app website? because it's already live here [tldraw](tldraw.com)

[2022-05-16 16:13] rosatiara commented on #679
Perfect. Thanks!

[2022-05-17 00:32] alexsch01 commented on #688
Anyone else notice this?

[2022-05-17 05:48] smpleader commented on #678
Thank you Steve for your reply.
I tried git pull today , remove node_modules and try re-install
I run yarn build:www
I run yarn start:www
And site is available in  http://localhost:55944
When I test the site, it's  a bug
`Uncaught TypeError: Cannot read properties of null (reading 'useState')`
Is there any step I missed ?

[2022-05-18 20:56] milo- commented on #661
@pengx17 I'd love a PR to fix this 🤩

[2022-05-18 21:01] #688 closed

[2022-05-19 18:28] judicaelandria commented on #644
a color swatch for the what exactly, the drawing tool or for the box (stroke, fill) ?

[2022-05-19 18:59] judicaelandria commented on #583
Hi @dpschen, I think this is the default behavior of this, but you can click outside to  close it

[2022-05-19 20:02] ericsia commented on #644
Forgive me, I'm unfamiliar with the given name.
What I meant is when the pen is active, ideally the color swatch can appear like arrow pointed above. So it ease us to pic color directly.

[2022-05-19 21:37] dpschen commented on #583
Hi @judicaelandria,
what do you mean by default behavior? That this is intended – because that feels counterintuitive for me.

When you click e.g. the arrow in the watch or star dropdown button in this repo twice the dropdown will open and close.

[2022-05-20 04:27] judicaelandria commented on #583
Someone has already made a pr about this, you can retry and close the issue if it's working for you!

[2022-05-20 08:58] dpschen commented on #583
You are right! Perfectly fine now :) Closing

[2022-05-20 08:58] #583 closed

[2022-05-20 09:42] ericsia commented on #644
@judicaelandria when the pen is active, can you keep the swatches opened with say default 16colors like screenshot above? So that we can direct pick the color without repeating click the box/panel to expand it for changing color. Because when people drawing most likely they will change color frequently back and forth.

[2022-05-20 09:54] judicaelandria commented on #644
@steveruizok any thought ?

[2022-05-20 10:17] ericsia commented on #644
this is really a need, I mean how can a drawing don't have this, it is so convenient:
![image](https://user-images.githubusercontent.com/24624808/169507265-540220aa-9daf-43f4-966d-8d1eb8bd2b35.png)

[2022-05-20 10:35] steveruizok commented on #644
Give this a shot! https://github.com/tldraw/tldraw/pull/697

[2022-05-20 10:36] judicaelandria commented on #644
Yeah I got it but I want to know what Steve thinks about this 😄

[2022-05-20 10:40] steveruizok commented on #644
@ericsia This is a good request! I think I'd made a note somewhere about something similar, as the menu interaction was annoying when drawing quickly and switching between colors. Our UI tries to strike a balance between usability and minimalism, though this could be a place where an extra option is really useful.

[2022-05-20 11:24] judicaelandria commented on #644
alright then! I'll implement it

[2022-05-20 11:30] judicaelandria commented on #644
oh looks live Steve finished it already 😄!

[2022-05-20 11:40] ericsia commented on #644
Steve can you group the color to something like this please? So it's easier for us to pick color in a single click, what I mean is don't collapse the color menu:
![image](https://user-images.githubusercontent.com/24624808/169510341-0f7deee1-32e0-4cd2-bcfa-26faa83096ed.png)

[2022-05-20 12:56] steveruizok commented on #644
Merged! I wouldn't mind revisiting the style menu to see if we can come up with a better design.

[2022-05-20 12:57] #644 closed

[2022-05-20 13:18] ericsia commented on #644
Btw, I just noticed smt.
Just tiny potential improvement, if Styles is position in middle (beside undo redo) when pressing "keep open", it can appear to be at most right.
So from
<Styles> <undo, redo> <100%>
Become
<undo, redo> <Styles> <100%>

Or another thing I can imagine is make it float so user can drag it anywhere. (But maybe challenging?)

[2022-05-20 14:13] steveruizok commented on #644
Good call on the position of the style menu. I tried out a few different positions and I'm going to put it at the right corner. 👍

[2022-05-20 14:23] steveruizok commented on #644
Also fixing the keyboard shortcuts while the menu is open.

[2022-05-20 14:25] steveruizok commented on #689
Seems like a dependency issue. Closing to take off the list but let me know on Discord if you're still stuck.

[2022-05-20 14:25] #689 closed

[2022-05-20 14:26] steveruizok commented on #678
Closing, I believe I solved this in the most recent update (or maybe the types were updated correctly by React?).

[2022-05-20 14:26] #678 closed

[2022-05-21 04:44] smpleader commented on #678
I have tested again with new clone and it works.
Thank you [steveruizok](https://github.com/steveruizok), [judicaelandria](https://github.com/judicaelandria)

[2022-05-21 15:38] judicaelandria commented on #664
Hi @colinfwren, thanks for your feedback but app.tldraw.dev is under heavy dev yet so not released, you can use [tldraw.com](https://tldraw.com) for now

[2022-05-21 15:39] judicaelandria commented on #665
I guess this is the same as the one before :D

[2022-05-22 08:09] judicaelandria commented on #619
hi @johnatannvmd, seems like this is fixed, can you give it another test and close if it's working for you?

[2022-05-22 08:31] okdistribute commented on #677
We'd also like to modify how cursors look and behave.

Would it make sense to have the ability to pass in the React component that renders a cursor, to override the default one that TLDraw provides? That would really help us -- and if you wanted to hide the cursor, you can pass that property `null` and it won't render the cursor.

[2022-05-23 16:12] judicaelandria commented on #578
Hi @lichin-lin , this seems to be fixed, could you test it again please, if it's working for you, please close the issue! thanks

[2022-05-23 16:19] lichin-lin commented on #578
I think this issue still occurs, and it's quite easily to reproduce:

1. open a multiplayer room
2. open two tabs
3. keep refreshing on one of the tab
4. you will get the following result on the other tab (where too many cursor stay on the page)

https://user-images.githubusercontent.com/10290616/169863224-d7b6c9ee-ac7e-4eb7-bdb7-9765cca85600.mov

[2022-05-23 16:20] judicaelandria commented on #593
I think so, yes! you send that pr @mrkldshv

[2022-05-23 16:22] judicaelandria commented on #578
It appears because you're on the same browser, I tried it on a different browser

[2022-05-23 16:54] judicaelandria commented on #578
okay, I can reproduce it now! I'll try to fix it

[2022-05-23 17:26] judicaelandria commented on #578
the problem was the user presence was never deleted when they exit or leave so that's why there are many cursor because the user presence before he leaves is never deleted

[2022-05-23 18:00] steveruizok commented on #677
That's exactly how I'm handling this in the next version (which is where I'm spending the majority of my dev time). There are a few issues that make this more complicated, however, such as when a dev wants to add arbitrary data to the definition of a user that gets passed to the custom component (mostly a TypeScript concern).

That said, you're right that it's the most convenient solution, and I'd

[2022-05-23 19:44] okdistribute commented on #677
Awesome! Thanks!

[2022-05-24 03:20] judicaelandria commented on #578
@lichin-lin can you try with this link if it's working, please? [link preview tldraw](https://tldraw-git-fork-judicaelandria-fix-user-presence-41cebb-tldraw.vercel.app/)

[2022-05-24 03:26] lichin-lin commented on #578
yes!! it's working perfectly!

[2022-05-24 19:29] ggarnhart opened #699 "[bug] Emojis Overlap"
![image](https://user-images.githubusercontent.com/14844205/170116826-39084682-02c0-409e-9068-9ce9b408de35.png)

Line height probably needs to be adjust to account for emoji sizing.

**JSON**:
[code]

**SVG**:
[code]

[2022-05-24 19:34] hydrosquall opened #700 "[feature] Support .tldr.json extension type"
## Motivation

- Enable typescript projects or files that aren't compatible with the .tldr extension to interpret the file as JSON correctly, enable typescript projects to import .tldr.json fixture files without needing to reconfigure your bundler to support a new extension type

## Related work

See how excalidraw-vscode handles it:

https://github.com/excalidraw/excalidraw-vscode/blob/c1eeff214b

[2022-05-25 12:28] steveruizok commented on #700
Looks good!

[2022-05-25 12:29] #700 closed

[2022-05-25 13:26] judicaelandria commented on #578
okay it's merged, can you close this issue now @lichin-lin  please ? thanks

[2022-05-30 14:33] teenoh opened #705 "[bug] Updating readOnly prop causes app to crash in some scenarios"
Thanks for this awesome package! I noticed a bug with `readOnly` prop when trying to make use of it.

## Steps to reproduce
- Draw on the canvas (`readOnly` prop should be false for this to be possible)
- Set `readOnly` prop to `true`
- Try clicking on the canvas

## Expected result
- Clicking on the canvas shouldn't do anything, since it's in readOnly mode

## Actual result
- App crashes with thi

[2022-05-31 16:57] yyyanghj opened #707 "[feature] Support style presets"
Allow users import a style preset for customization and teams sharing.

Preset files need to include:
- font famlily
- color palette
- size or stroke width
- ...

[2022-06-05 13:34] senntore opened #711 "No pen pressure for Wacom Intuos Pro Pen in Firefox"
Screen Recording of the pen pressure sensitivity testing:

https://user-images.githubusercontent.com/58325574/172053671-99a211da-a63d-4271-978c-587aa80ede9e.mp4

Each stroke is using different pressure but the results are same.

OS: Pop_OS! 22.04(Linux)
Browser: Firefox 101.0(64-bit)
Pen: Wacom Intuos Pro Pen

Other Notes: Also a question somewhat related to this issue, is it possible to turn off

[2022-06-09 14:53] steveruizok commented on #699
Can we reduce the font-size or paint size of just emojis?

[2022-06-09 14:55] steveruizok commented on #681
I'm going to include this in future work on mouse scrolling / zooming.

[2022-06-09 17:06] steveruizok commented on #705
Should be fixed now in 1.16.0.

[2022-06-09 17:06] #705 closed

[2022-06-09 20:41] yyyang1996 commented on #707
Thank you for reply. I hope I can descirbe this clearly.

The original idea is users may need a color swatch to add/change colors like #644. If we implement this feature, should user need to change color repeatly when create a new project?

In addition to colors, users may also want to customize fonts, stroke widths etc. For instance, the small size is too thick for me.

I think things like preset

[2022-06-10 05:06] senntore commented on #711
@steveruizok I'm not sure if it's working correctly in there(it's showing weird dots unless that's intended) but here is the screenshot with different pressure
![Screenshot 2022-06-10 at 07-58-21 tablet pressure test - Tazal - OpenProcessing](https://user-images.githubusercontent.com/58325574/172978451-1a1f13ec-f382-4ae5-953f-e9b89efe1181.png)

The pressure works correctly in Krita, Pixiv Sktech.

[2022-06-13 20:12] aseeeem opened #716 "[bug] `yarn docs` command not compiling after clean install"
attempted to run `yarn docs` after running `yarn install`

got the following error:

[code]

Node version: `16.14.2`
Yarn version: `1.22.19`

[2022-06-15 10:58] steveruizok commented on #711
Yeah, this makes me think it's some sort of configuration error (if it were working in Firefox, it would be showing dots of varying sizes). You might google around for other issues people have had with pen pressure not registering on Firefox. Very strange but thankfully not a tldraw bug. 😮‍💨

I'll close this ticket but please do reply if you figure it out.

[2022-06-15 10:58] #711 closed

[2022-06-15 12:25] steveruizok opened #718 "[bug] Only one image is preserved when copying to a multiplayer document"
- Create a new tldraw project
- Add an image to the canvas ("Image A")
- In the multiplayer menu, select "Copy to Multiplayer Project"

In the new page, all images will have been replaced by Image A.

- Press back to return to tldraw.com

All images in the original document will have been replaced by Image A.

[2022-06-16 17:57] steveruizok opened #723 "[bug] `currentPageId` prop has no effect"
The `<Tldraw>` component's `currentPageId` does not appear to be working as expected.

[2022-06-16 17:59] steveruizok opened #724 "[example] Create an example of a custom UI."
Where the original UI is hidden and a customized UI is shown instead.

Possibly start with this example route: https://github.com/tldraw/tldraw/blob/main/examples/tldraw-example/src/ui-options.tsx

[2022-06-16 18:01] Leone25 commented on #723
Cases where it works as expected:
- after tldraw is fully initialized if a state value is passed into the `currentPageId` and then this value is changed (for example with a button) the page will change/update

Cases where it does not work as expected:
- if you set a specific page to open the document to, no matter what value is assigned to `currentPageId`, the first page will always be loaded/show

[2022-06-19 17:18] steveruizok opened #727 "[feature] use English as fallback for translations"
If a word does not have a translation in the current language, use the word from the English translation instead.

[2022-06-19 17:19] steveruizok opened #728 "[feature] use English as fallback for translations"
If a word does not have a translation in the current language, use the word from the English translation instead.

[2022-06-20 19:36] #728 closed

[2022-06-21 12:46] ali-alhaidary opened #731 "Arabic localization"
Kindly advice how to localize to Arabic

[2022-06-21 12:59] ali-alhaidary commented on #731
added ar.json

[2022-06-21 12:59] #731 closed

[2022-06-22 12:21] 58bits opened #733 "[feature] Be Able to Draw and Connect Lines Across Locked Components"
Not sure if this is a feature request or a bug, but in the attached video - we've locked a border component, and would like to connect one component on the left (outside) with a line to a component on the right (inside the locked border component) - but can't seem to get this to work.

https://user-images.githubusercontent.com/405612/175027452-6f23b2be-c900-46f9-9ff9-99c367f891af.mp4

Thoughts?

[2022-06-22 14:11] dragonman225 opened #737 "[bug] Panning with middle button of the mouse triggers unwanted paste on Linux"
https://user-images.githubusercontent.com/25148955/175045261-23a4c45c-745c-4b5d-88cc-945e1ef186e7.mp4

It's a long-standing problem that something in the [X Window System](https://en.wikipedia.org/wiki/X_Window_System) hard-coded the middle-click paste behavior and provides no way to disable it. This has led to [all kinds of strange workarounds](https://www.reddit.com/r/archlinux/comments/8d1us1/d

[2022-06-22 16:26] devrimcavusoglu opened #739 "[feature] Laser pointer"
Laser pointer would be super good.

[Related q&a](https://www.quora.com/What-is-the-use-of-the-laser-feature-in-Google-Jamboard)
and [related feature request](https://support.google.com/jamboard/thread/2346226/laserpointer?hl=en) for Google's Jamboard.

Laser pointer is a very nice feature for presenting or explaining the flow in the board to someone.

[2022-06-23 14:03] steveruizok opened #741 "[bug] Images with the same name on S3"
If you upload an image with the same name as a pre-existing image, the pre-existing image will be used instead. This is problematic, for example, when pasting screenshots.

[2022-06-23 14:13] steveruizok opened #742 "[feature] "New tab" browser extension"
Create a browser extension that displays a tldraw project for the "new tab" page in a browser.

[2022-06-24 09:41] creampnx-x commented on #733
i think it is feature....

[2022-06-24 09:51] creampnx-x commented on #724
I want to do this.

[2022-06-25 09:49] steveruizok opened #744 "[bug] each key press in text shape creates a new undo/redo entry"
These changes should produce a single undo/redo entry, rather than many.

[2022-06-25 11:28] steveruizok commented on #741
Fixed by https://github.com/tldraw/tldraw/pull/743

[2022-06-25 11:28] #741 closed

[2022-06-25 11:30] steveruizok commented on #733
No, that's a bug! The arrow should ignore that locked shape.

Locking issue aside, it looks like the box shape is "above" the other two shapes, however. You could move that box to back (right click > Move > To Back, or `Shift + [`) so that the other shapes are "in front" of it, and receive the arrow first.

[2022-06-25 11:33] 58bits commented on #733
@steveruizok thanks Steve! I'll give it a try.

[2022-06-25 11:42] steveruizok commented on #733
Will be fixed by https://github.com/tldraw/tldraw/pull/745. Thanks for the catch @58bits !

[2022-06-25 11:42] #733 closed

[2022-06-25 14:44] steveruizok commented on #744
Closed by #738

[2022-06-25 14:44] #744 closed

[2022-06-25 14:45] steveruizok commented on #737
Good catch!

[2022-06-26 15:57] #727 closed

[2022-06-26 15:57] steveruizok commented on #724
Go for it!

[2022-06-26 16:06] steveruizok commented on #739
Duplicate of https://github.com/tldraw/tldraw/issues/569 but I think a good idea nonetheless. We now have this "eraser line" or "scribble" shape, using perfect-freehand, so I'm happy to implement it.

[2022-06-26 16:06] #718 closed

[2022-06-26 16:08] steveruizok commented on #664
I'll add it to the private repo's issues, thanks!

[2022-06-26 16:08] #664 closed

[2022-06-26 16:09] #648 closed

[2022-06-26 16:09] #636 closed

[2022-06-26 16:10] #631 closed

[2022-06-26 16:11] steveruizok commented on #604
I think this is fixed now?

[2022-06-26 16:25] devrimcavusoglu commented on #739
Sorry that I create a duplicate, nice to hear development will be going on 🙂
I'll close this issue as duplicate.

[2022-06-26 16:25] #739 closed

[2022-06-27 17:55] #593 closed

[2022-06-28 14:34] infinite-nil commented on #742
Hey @steveruizok are you working on this one? If not, I'm glad to help.

[2022-06-29 03:40] ali-alhaidary opened #767 "RTL"
tldraw as stand alone app, works fine has the language been RTL or LTR, but as tldraw is being integrated in many apps and mainly in BBB, missing RTL functionality makes it not usable in BBB session as BBB supports RTL for so many languages.

[2022-06-29 12:17] JaPossert opened #769 "[bug] Uploading directly from camera not possible"
When not signed in, taking an image with Samsung Galaxy Note 10 lite does all the steps without putting it in.
No buffer or anything, it just stays on the insert-file screen.
Inserting an existing image works though

![Screenshot_20220629-141733_Chrome.jpg](https://user-images.githubusercontent.com/46620569/176434215-cc817518-d4d1-4ec1-848f-8768af3b9ab5.jpg)

[2022-06-29 12:46] novicapetrovic opened #770 "[feature] Make the toolbar position customizable"
## The Problem
The toolbar is currently fixed to the bottom of the screen, however as a user, it would be ideal if I had control over its position, much like the mac dock can be chosen to be customized to be left, right or bottom (screenshot attached).

## The Requirements
Add a setting in the preferences menu with the following 3 options:
- left
- right
- bottom

Also, add in a property for devel

[2022-06-29 15:41] sbozkir commented on #450
+1 please also add to PDF format. It is very important.

[2022-06-30 14:17] steveruizok commented on #742
Closed by https://github.com/tldraw/tldraw/pull/773! And should be on the Chrome marketplace soon.

@infinite-nil If you have any ideas for improvement, let me know.

[2022-06-30 14:17] #742 closed

[2022-06-30 17:10] antobinary commented on #767
Hi, just an important clarification: https://github.com/bigbluebutton/bigbluebutton/issues/15284#issuecomment-1171400833

[2022-06-30 17:39] ali-alhaidary commented on #767
https://github.com/bigbluebutton/bigbluebutton/pull/15301#issuecomment-1171469728

[2022-06-30 17:39] #767 closed

[2022-07-03 14:15] sidmohanty11 commented on #723
I tried looking into the issue, it seems like `appState.currentPageId` by default is set to ['page'](https://github.com/tldraw/tldraw/blob/70288776993f4c9041c0904ca92b93fd3aae6592/packages/tldraw/src/state/TldrawApp.ts#L4169) so, whenever the app initializes it defaults to the first page whose id is 'page'.

How should we tackle this?
- Should we take in `currentPageId` as a prop?
- Or should we p

[2022-07-03 15:34] Leone25 commented on #723
welp `currentPageId` is already a prop (see https://github.com/tldraw/tldraw/blob/main/packages/tldraw/src/Tldraw.tsx#L41)
The problem is that it gets ignored when the document is first loaded, but if changed after it does update.

[2022-07-03 15:42] sidmohanty11 commented on #723
@Leone25
Ah, I should have been more clearer. I was asking if we should pass the prop to InnerTldraw Component? Because when the page loads for the first time the default id is 'page'

[2022-07-03 15:46] Leone25 commented on #723
Tbh I'm not sure but it seems like it's whay needs to be done

[2022-07-04 04:56] subodhpareek18 opened #781 "[example] Minimal pencil only example"
I was looking to make the simplest of whiteboard UIs with the ability to draw a smooth stroke, change the color and size of the stroke using some custom UI/keyboard shortcuts.

The requirement until now is easily satisfied by a number of npm libraries, but none of them offer the zoom pan pinch functionality of tldraw. And while trying to zoom/pan using some third party dependency the coordinate sy

[2022-07-04 12:20] ali-alhaidary opened #782 "Language menu truncated from above"
Language menu is truncated from above and starts from Nepali language, however, using the keyboard one can go to a language.

[2022-07-04 14:20] arsinam80 opened #785 "[bug] Bug description"

[2022-07-05 04:14] sugitlab opened #787 "Translation for the context menu "Align / Distribute"."
Hi, I'd like to translate this context menu to Japanese, so please add to `translations/main.json` defines.

https://github.com/tldraw/tldraw/blob/4d900fb7fd154d70c1c0ddcfc20dfd2b76689b58/packages/tldraw/src/components/ContextMenu/ContextMenu.tsx#L348

<img src="https://user-images.githubusercontent.com/26006414/177247876-b41661fe-3ec6-4df8-ae3e-ccb7d12df51e.png" width="400" />

[2022-07-07 10:17] steveruizok commented on #782
Will be fixed in #789!

[2022-07-07 11:02] steveruizok commented on #787
Fixed in #789 !

[2022-07-07 11:02] #787 closed

[2022-07-07 11:02] #770 closed

[2022-07-07 11:03] #604 closed

[2022-07-08 15:25] steveruizok opened #798 "[bug] Prevent browser zoom while editing text"
To reproduce:

- start editing a label or text shape
- press `command +` to zoom in

[2022-07-08 21:12] zniper17 opened #801 "ReferenceError: requestAnimationFrame is not defined"
I was trying integrate tldraw in my next js app, i was using the reference codesandbox given in the discord channel

[2022-07-09 04:46] subodhpareek18 commented on #781
I was actually able to solve my problem, not by using the @tldraw/core but the main @tldraw/tldraw package itself. It was easier to remove things from that, rather than add things to the code.

[2022-07-09 04:46] #781 closed

[2022-07-09 04:59] judicaelandria commented on #801
You need to use dynamic

[2022-07-09 17:03] hdoro commented on #724
I started to work on this to get familiar w/ customizing tldraw - glad to join efforts, @creampnx-x !

[2022-07-10 16:00] senntore opened #806 "[feature] Uploading multiple medias(images) at once"
When I drag multiple images to tldraw, it only imports one image(which I'm guessing is the first selection) instead of all of them.
It would be really helpful to be able to import multiple images at once. Because I use tldraw for creating image boards & I have manual import each image one by one, which takes so much time.

[2022-07-10 18:49] sul4bh commented on #522
I got sidetracked with other things. I won't be able to complete this issue.

[2022-07-10 23:57] hamlim opened #808 "[bug] Copy as PNG doesn't preserve font family"
### How to reproduce:

- Add text to a new drawing
- Set the font family to one of the options besides Serif (default font for example, or the sans-serif option)
- Select the text
- Go to menu, choose `Copy as PNG`
- Paste the png somewhere and notice the text is using the Serif font family

### Examples:

Screenshot of tldraw.com:

![](https://user-images.githubusercontent.com/5579638/178166888-1

[2022-07-10 23:57] hamlim commented on #808
From some additional testing, it seems like this issue happens for the other media exports as well:

- svg
- jpg
- webp

(both copy as and save as flows)

Although the SVG that you copy seems to correctly include the font-family `@import` 🤔

[2022-07-12 06:54] NigelThorne opened #812 "[bug] Copy text containing an &"
* Start a blank document
* Add something with text "a & b"
* Copy that element
* Paste that element
... you get a copy of the element with text "a &amp; b"

(Brilliant tool by the way. Love it!)
![image](https://user-images.githubusercontent.com/5942/178427386-f1d7bc05-57ab-423b-8017-b7990573f5fd.png)

[2022-07-12 09:11] #798 closed

[2022-07-12 10:03] steveruizok opened #814 "[bug] Flip horizontal / vertical produces incorrect position"
Flipping horizontal (and possibly vertical?) calculates the wrong position.

[2022-07-12 13:55] judicaelandria commented on #724
Maybe @hdoro  and @creampnx-x work on different examples?

[2022-07-12 18:51] steveruizok opened #817 "[feature] Replace `window.confirm` dialogs with UI dialogs"
In several places in the app (Page Options Dialog, the File System, and Multiplayer Menu) we rely on system dialogs. They're confusing and don't quite communicate things correctly. Let's replace them with proper UI dialogs instead.

[2022-07-13 07:31] steveruizok commented on #801
Yep, see how we're doing it [here](https://github.com/tldraw/tldraw/blob/main/apps/www/pages/index.tsx):

[code]

[2022-07-13 07:31] #801 closed

[2022-07-13 07:32] steveruizok commented on #716
We should probably just pull `yarn docs` from the repo, I'm not sure how useful it is at this point.

[2022-07-14 10:54] hybridherbst opened #822 "[bug] Zooming out with mouse wheel even one step zooms to 10%"
Seems zoom with mouse wheel is currently:
- zooming in very fast (2x on every wheel click)
- always zooming out to 10% (on just one wheel click)

Every zoom action in this video is caused by holding Ctrl + scrolling single clicks with a regular mouse wheel:

https://user-images.githubusercontent.com/2693840/178966705-5e6784b7-072b-46e8-b807-b517b3d64a21.mp4

This is on Windows + Chrome, and window

[2022-07-14 12:10] steveruizok commented on #822
Similar to #255. Here's the relevant code, which seems to be failing: https://github.com/tldraw/tldraw/blob/2352985e949d14270fc89dc60144239c37c8ff91/packages/core/src/hooks/useZoomEvents.ts#L153

[2022-07-14 13:16] hybridherbst commented on #822
Thanks, didn't find that - closing as duplicate then :)

[2022-07-14 13:16] #822 closed

[2022-07-15 09:24] #724 closed

[2022-07-15 14:50] judicaelandria commented on #808
Hey @hamlim, I can't reproduce this, it works for me? what browser did you use?

[2022-07-15 14:55] hamlim commented on #808
Weird, I can't seem to replicate the issue now in Chrome or Arc, going to close this!

[2022-07-15 14:55] #808 closed

[2022-07-18 14:15] XAKEPEHOK opened #828 "[bug] Mobx required, but package.json no mobx dependency"
Hello!
I cant run tldraw without mobx, and in your discourd channel i see, that mobx is a peer dependency.
May be you can add mob as dependency?

[2022-07-18 17:36] #814 closed

[2022-07-18 21:04] XAKEPEHOK commented on #828
And tools like webpack/rollup/etc should use only needed functions

[2022-07-19 09:04] #572 closed

[2022-07-21 12:34] steveruizok opened #832 "[improvements] Update radix-ui components"
Radix-ui just had its 1.0 launch. This includes the use of custom [Portal](https://www.radix-ui.com/docs/primitives/components/context-menu#portal) components for dropdown menus / context menus, which means we can solve the bug introduced by #790.

[2022-07-21 13:19] davidkpiano opened #833 "[bug] Gaps left when label is deleted"
When I create an edge, add a label, and then decide I don't want a label, there's no easy way to delete that label (as far as I know), and deleting the label text leaves a gap:

![CleanShot 2022-07-21 at 08 38 21](https://user-images.githubusercontent.com/1093738/180223331-a9381c2c-93d2-4a22-a8a6-f0c2e54acb30.png)

[2022-07-21 15:46] #833 closed

[2022-07-21 16:17] ali-alhaidary opened #837 "some keyboard shortcuts are not localized"
in the keyboard shortcuts screen, some items are not localized although they are present in main.json file.
Such as:
tools
view
file
rectangle
ellipse
triangle
line
transform
edit

[2022-07-21 18:07] judicaelandria commented on #837
rectangle
ellipse
triangle
line
are already there

[2022-07-21 18:16] #806 closed

[2022-07-22 17:29] #837 closed

[2022-07-23 00:49] ali-alhaidary commented on #837
rectangle
ellipse
triangle
line
Are still not localized...

[2022-07-23 05:19] judicaelandria commented on #837
yeah this is because all the other translation uses different keys

[2022-07-23 09:59] steveruizok commented on #828
That's actually not the reason (folks would still have to install it regardless). Mobx is listed as a peer dependency, which some package managers respect and some do not. For example, npm won't install them and so you'll need to install mobx manually.

Side note:

I'm still not sure if mobx really needs to be in this library.

Most projects aren't using the features where it would be useful. Give

[2022-07-23 10:01] #634 closed

[2022-07-23 10:01] #619 closed

[2022-07-23 14:38] steveruizok commented on #630
Merged!

[2022-07-23 14:38] #630 closed

[2022-07-24 06:47] steveruizok commented on #769
Could you test this again? It should have been fixed with the latest update.

[2022-07-24 22:49] #598 closed

[2022-07-24 22:50] #578 closed

[2022-07-24 22:50] steveruizok commented on #557
Should be improved now?

[2022-07-24 22:51] #549 closed

[2022-07-24 22:52] steveruizok commented on #559
Tracking on #817

[2022-07-24 22:52] #559 closed

[2022-07-24 22:53] steveruizok commented on #518
Solved!

[2022-07-24 22:53] #518 closed

[2022-07-24 22:53] steveruizok commented on #492
Solved!

[2022-07-24 22:53] #492 closed

[2022-07-24 22:54] #370 closed

[2022-07-24 22:57] #832 closed

[2022-07-25 00:09] caseywatts commented on #557
The bottom bar fits now!

there are other little issues (redo and question mark icons, and question mark popup placement covers the original button so I can’t close it)

But I’d say this issue’s original problem has been solved! 👏🏻👏🏻

![7DCC0113-2799-4DA4-97AA-AC7A030FB94A](https://user-images.githubusercontent.com/273653/180671621-7d534691-9949-405b-88ce-0c711b11a388.png)

[2022-07-25 03:58] judicaelandria commented on #550
You can use this feature  now

[2022-07-25 03:58] #550 closed

[2022-07-25 07:50] thomasaull commented on #550
Awesome :)

[2022-07-25 10:17] steveruizok commented on #482
Currently we persist the settings object as part of the document, meaning that each document could have its own settings. Instead, we should persist settings globally, e.g. in local storage, and restore it from there.

[2022-07-25 13:26] steveruizok opened #850 "[bug] Could not find a binding to match the start handle's bindingId"
On Sentry, a popular bug is `Could not find a binding to match the start handle's bindingId`.

This happens in `TLDR.updateArrowBindings`:

[code]

The stack always includes `TldrawApp.cleanup`, so it's likely an issue where a binding has been deleted, then cleaned up.

I'm not able to reproduce the error myself!

[2022-07-25 13:27] steveruizok opened #851 "[bug] App crashes when a shape is deleted while dragging."
We should, at minimum, disable the `deleteShapes` command while in a session.

The crash occurs here in `useShapeTree`

[code]

[2022-07-27 00:12] with-heart commented on #723
This is a weird situation because `TldrawApp` is initialized with `TldrawApp.defaultState` but its `constructor` provides us with no way to override the defaults.

Even if we pass `currentPageId` to `InnerTldraw`, we'll receive an error because `TldrawApp.defaultDocument` only contains `page`.

https://github.com/tldraw/tldraw/blob/6267cefa1d9fd124246ac45f54e31c76d47fe4fa/packages/tldraw/src/state

[2022-07-27 03:06] with-heart commented on #723
Another problem I've just run into: the above poor workaround only works if the `document` has one `page`.

Since both `updateDocument` and `loadDocument` set `currentPageId` to the key of the first page in the list, it won't work if you're trying to set it to a page other than the first one.

https://github.com/tldraw/tldraw/blob/6267cefa1d9fd124246ac45f54e31c76d47fe4fa/packages/tldraw/src/state/

[2022-07-27 11:02] judicaelandria commented on #472
hey @d-koppenhagen can you test it again, I'm not able to reproduce it

[2022-07-27 20:26] d-koppenhagen commented on #472
It still happens. But it seems to not happen every time. Just sometimes, the sticky notes aren't movable anymore.
In such case also other stickies aren't movable until reloading

[2022-07-27 20:29] d-koppenhagen commented on #472
Inspecting it with Chrome: The Draggable attribute is set to false in this cases:
`draggable="false"`

[2022-07-27 20:40] d-koppenhagen commented on #472
Maybe this little Video will help you investigate. It seems for some reason  the problem just occurs when clicking outside the note and then inside again. See the differrent situations in the video.

https://we.tl/t-4zg0BkKnxD

[2022-07-28 07:26] #851 closed